mixin blocks-container (position)
	div(group=position)
		.cs-block-primary.cs-text-primary [[L.#{position}_blocks]]
		template(is="dom-repeat" items=`[[blocks.${position}]]`)
			div(index="[[item.index]]" class$="[[_status_class(item.active)]]")
				.title [[item.title]]
				div
					cs-button(icon="pencil" on-tap="_edit_block" tooltip="[[L.edit]]"): button
					= ' '
					cs-button(icon="key" on-tap="_block_permissions" tooltip="[[L.edit_permissions]]"): button
					= ' '
					cs-button(icon="trash" on-tap="_delete_block" tooltip="[[L.delete]]"): button
dom-module#cs-system-admin-blocks-list
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles-alone")
		#grid
			div
			+blocks-container('top')
			div
			+blocks-container('left')
			+blocks-container('floating')
			+blocks-container('right')
			div
			+blocks-container('bottom')
			div
		.cs-text-left
			cs-button: button(type="button" on-tap="_add_block") [[L.add_block]]
	script(src="script.js")
