dom-module#cs-system-admin-storages-form
	template
		cs-form: form
			label(tooltip="[[L.storage_url]]")
				| [[L.storage_url]]
				cs-tooltip
			cs-input-text: input(type="text" value="{{storage.url}}")
			label(tooltip="[[L.storage_host_info]]")
				| [[L.storage_host]]
				cs-tooltip
			cs-input-text: input(type="text" value="{{storage.host}}")
			label(tooltip="[[L.storage_driver]]")
				| [[L.storage_driver]]
				cs-tooltip
			cs-select(selected="{{storage.driver}}"): select(size="5")
				template(is="dom-repeat" items="[[drivers]]")
					option [[item]]
			label(tooltip="[[L.storage_user_info]]")
				| [[L.storage_user]]
				cs-tooltip
			cs-input-text: input(type="text" value="{{storage.user}}")
			label(tooltip="[[L.storage_password_info]]")
				| [[L.storage_password]]
				cs-tooltip
			cs-input-text: input(type="text" value="{{storage.password}}")
			div
				cs-button(primary): button(type="button" on-tap="_save" disabled="[[!and(storage.url, storage.host, storage.driver)]]") [[L.save]]
				cs-button(icon="signal"): button(type="button" on-tap="_test_connection" disabled="[[!and(storage.url, storage.host, storage.driver)]]") [[L.test_connection]]
	script(src="script.js")
