dom-module#cs-static-pages-admin-pages-list
	template
		style(include="advanced-styles")
		table.cs-table(list)
			tr
				th [[L.page_title]]
				th [[L.action]]
			template(is="dom-repeat" items="[[pages]]")
				tr
					td
						a(href="/[[item.full_path]]") [[item.title]]
					td
						cs-button(compact icon="file-alt" tooltip="[[L.edit]]"): button(type="button" on-tap="_edit")
						= ' '
						cs-button(compact icon="trash-alt" tooltip="[[L.delete]]"): button(type="button" on-tap="_delete")
		p
			cs-button: button(type="button" on-tap="_add") [[L.add_page]]
	script(src="script.js")
