dom-module#cs-static-pages-admin-pages-list
	template
		style(include="advanced-styles")
		table.cs-table(list)
			tr
				th [[L.page_title]]
				th [[L.action]]
			template(is="dom-repeat" items="[[pages]]")
				tr
					td
						a(href="/[[item.full_path]]") [[item.title]]
					td
						button(is="cs-button" type="button" icon="file-text" on-tap="_edit" tooltip="[[L.edit]]")
						= ' '
						button(is="cs-button" type="button" icon="trash" on-tap="_delete" tooltip="[[L.delete]]")
		p
			button(is="cs-button" type="button" on-tap="_add") [[L.add_page]]
	script(src="script.js")
