%dom-module(id="cs-shop-order-item")
	%link(rel="import" href="style.css" type="css")
	%template
		#content.cs-margin-top
			%div
				%a#img.uk-thumbnail.uk-thumbnail-expand
			%div
				.uk-text-large
					%a#link [[item_title]]
					%span [[concat(': ', units, ' x ', unit_price_formatted, ' = ', price_formatted)]]
					%span#discount
				%div
					%content(select="#description")
	%script(src="script.js")
