%dom-module(id="cs-system-admin-users-edit-user-form")
	%link(rel="import" href="style.css" type="css")
	%template
		%h2.uk-text-center(hidden$="[[user_data.id]]")
			%cs-icon(icon="spinner" spin)
		%template(is="dom-if" if="{{user_data.id}}")
			.uk-form.uk-form-stacked
				%label.uk-form-label id
				%p [[user_data.id]]
				%label.uk-form-label [[L.registration_date]]
				%p [[user_data.reg_date_formatted]]
				%label.uk-form-label [[L.registration_ip]]
				%p [[user_data.reg_ip_formatted.0]]
				%template(is="dom-if" if="[[user_data.reg_ip_formatted.1]]")
					%p [[user_data.reg_ip_formatted.1]]
				%label.uk-form-label [[L.login]]
				%input(type="text" value="{{user_data.login::input}}")/
				%label.uk-form-label [[L.username]]
				%input(type="text" value="{{user_data.username::input}}")/
				%label.uk-form-label [[L.email]]
				%input(type="email" value="{{user_data.email::input}}")/
				%label.uk-form-label
					%span [[L.password_only_for_changing]]
				.uk-form-icon.uk-width-1-1
					.uk-icon-lock.cs-pointer(on-click="show_password")
					%input(id="password" type="password" value="{{user_data.password::input}}")/
				%label.uk-form-label [[L.language]]
				%select(is="cs-select" value="{{user_data.language::change}}" size="5")
					%template(is="dom-repeat" items="[[languages]]" as="language")
						%option(value="[[language.clanguage]]" selected$="[[equal(language.clanguage, user_data.language)]]") [[language.description]]
				%label.uk-form-label [[L.timezone]]
				%select(is="cs-select" value="{{user_data.timezone::change}}" size="7")
					%template(is="dom-repeat" items="[[timezones]]" as="timezone")
						%option(value="[[timezone.timezone]]" selected$="[[equal(timezone.timezone, user_data.timezone)]]") [[timezone.description]]
				%label.uk-form-label [[L.status]]
				.uk-button-group(data-uk-button-radio)
					%label(on-click="status_change" class$="[[status_class(-1)]]")
						%input(checked$="[[status_state(-1)]]" type="radio" value="-1")/
						%span [[L.is_not_activated]]
					%label(on-click="status_change" class$="[[status_class(0)]]")
						%input(checked$="[[status_state(0)]]" type="radio" value="0")/
						%span [[L.inactive]]
					%label(on-click="status_change" class$="[[status_class(1)]]")
						%input(checked$="[[status_state(1)]]" type="radio" value="1")/
						%span [[L.active]]
				%label.uk-form-label(tooltip="[[L.block_until_info]]")
					%span [[L.block_until]]
					%cs-tooltip
				%input(type="datetime-local" value="{{block_until::input}}")/
				%label.uk-form-label [[L.avatar]]
				%input(type="text" value="{{user_data.avatar::input}}")/
				%p
					%button.uk-button.uk-button-primary(on-click="save") [[L.save]]
	%script(src="script.js")
