%dom-module(id="cs-system-admin-users-edit-user-form")
	%link(rel="import" href="style.css" type="css")
	%template
		%h2.uk-text-center(hidden$="[[user_data.id]]")
			%cs-icon(icon="spinner" spin)
		%template(is="dom-if" if="{{user_data.id}}")
			.uk-form.uk-form-stacked
				%label.uk-form-label id
				%p [[user_data.id]]
				%label.uk-form-label [[L.registration_date]]
				%p [[user_data.reg_date_formatted]]
				%label.uk-form-label [[L.registration_ip]]
				%p [[user_data.reg_ip_formatted.0]]
				%template(is="dom-if" if="[[user_data.reg_ip_formatted.1]]")
					%p [[user_data.reg_ip_formatted.1]]
				%label.uk-form-label [[L.login]]
				%input(is="cs-input-text" type="text" value="{{user_data.login}}")/
				%label.uk-form-label [[L.username]]
				%input(is="cs-input-text" type="text" value="{{user_data.username}}")/
				%label.uk-form-label [[L.email]]
				%input(is="cs-input-text" type="email" value="{{user_data.email}}")/
				%label.uk-form-label
					%span [[L.password_only_for_changing]]
				%cs-icon(icon="lock" on-click="show_password")
				%input(is="cs-input-text" id="password" type="password" value="{{user_data.password}}")/
				%label.uk-form-label [[L.language]]
				%select(is="cs-select" value="{{user_data.language}}" size="5")
					%template(is="dom-repeat" items="[[languages]]" as="language")
						%option(value="[[language.clanguage]]" selected$="[[equal(language.clanguage, user_data.language)]]") [[language.description]]
				%label.uk-form-label [[L.timezone]]
				%select(is="cs-select" value="{{user_data.timezone}}" size="7")
					%template(is="dom-repeat" items="[[timezones]]" as="timezone")
						%option(value="[[timezone.timezone]]" selected$="[[equal(timezone.timezone, user_data.timezone)]]") [[timezone.description]]
				%label.uk-form-label [[L.status]]
				%label(is="cs-label-button" value="{{user_data.status}}")
					%input(checked="[[equal(user_data.status, -1)]]" type="radio" value="-1")/
					%span [[L.is_not_activated]]
				%label(is="cs-label-button")
					%input(checked="[[equal(user_data.status, 0)]]" type="radio" value="0")/
					%span [[L.inactive]]
				%label(is="cs-label-button")
					%input(checked="[[equal(user_data.status, 1)]]" type="radio" value="1")/
					%span [[L.active]]
				%label.uk-form-label(tooltip="[[L.block_until_info]]")
					%span [[L.block_until]]
					%cs-tooltip
				%input(is="cs-input-text" type="datetime-local" value="{{block_until}}")/
				%label.uk-form-label [[L.avatar]]
				%input(is="cs-input-text" type="text" value="{{user_data.avatar}}")/
				%p
					%button(is="cs-button" primary on-click="save") [[L.save]]
	%script(src="script.js")
