dom-module#cs-system-admin-users-edit-user-form
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		h2.cs-text-center(hidden="[[user_data.id]]")
			cs-icon(icon="spinner" spin)
		form(is="cs-form" hidden="[[!user_data.id]]")
			label id
			input(is="cs-input-text" readonly value="[[user_data.id]]")
			label [[L.registration_date]]
			input(is="cs-input-text" readonly value="[[user_data.reg_date_formatted]]")
			label [[L.registration_ip]]
			input(is="cs-input-text" readonly value="[[user_data.reg_ip_formatted.0]]")
			template(is="dom-if" if="[[user_data.reg_ip_formatted.1]]")
				br
				input(is="cs-input-text" readonly value="[[user_data.reg_ip_formatted.1]]" class="cs-margin-bottom")
			label [[L.login]]
			input(is="cs-input-text" type="text" value="{{user_data.login}}")
			label [[L.username]]
			input(is="cs-input-text" type="text" value="{{user_data.username}}")
			label Email
			input(is="cs-input-text" type="email" value="{{user_data.email}}")
			label [[L.password_only_for_changing]]
			div
				input(is="cs-input-text" type="password" value="{{user_data.password}}" tight)
				button(is="cs-button" type="button" icon="lock" on-tap="_show_password" force-fullsize)
			label [[L.language]]
			select(is="cs-select" selected="{{user_data.language}}" size="5")
				template(is="dom-repeat" items="[[languages]]" as="language")
					option(value="[[language.clanguage]]") [[language.description]]
			label [[L.timezone]]
			select(is="cs-select" selected="{{user_data.timezone}}" size="7")
				template(is="dom-repeat" items="[[timezones]]" as="timezone")
					option(value="[[timezone.timezone]]") [[timezone.description]]
			label [[L.status]]
			nav(is="cs-nav-button-group")
				label(is="cs-label-button" value="{{user_data.status}}")
					input(checked="[[equal(user_data.status, -1)]]" type="radio" value="-1")
					[[L.is_not_activated]]
				label(is="cs-label-button")
					input(checked="[[equal(user_data.status, 0)]]" type="radio" value="0")
					[[L.inactive]]
				label(is="cs-label-button")
					input(checked="[[equal(user_data.status, 1)]]" type="radio" value="1")
					[[L.active]]
			label(tooltip="[[L.block_until_info]]")
				[[L.block_until]]
				cs-tooltip
			input(is="cs-input-text" type="datetime-local" value="{{block_until}}")
			label [[L.avatar]]
			label
				img(src="[[if(user_data.avatar, user_data.avatar, '')]]" hidden="[[!user_data.avatar]]")
			input(is="cs-input-text" type="text" value="{{user_data.avatar}}")
			div.cs-padding-bottom
				button#upload-avatar(is="cs-button" type="button" icon="upload" hidden="[[!cs.file_upload]]") [[L.upload_avatar]]
			div
				button(is="cs-button" type="button" primary on-tap="save") [[L.save]]
	script(src="script.js")
