%polymer-element(name="cs-system-admin-groups-form")
	%template
		.uk-form.uk-form-stacked
			%template(if="{{group_id}}")
				%label.uk-form-label id
				%p [[group_id]]
			%label.uk-form-label [[L.group_name]]
			%input(type="text" value="{{group_title}}")/
			%label.uk-form-label [[L.group_description]]
			%input(type="text" value="{{description}}")/
			%p
				%button.uk-button.uk-button-primary(on-click="[[save]]") [[L.save]]
	%script(src="script.js")
