dom-module#cs-system-change-password
	template
		style(is="custom-style" include="advanced-styles")
		form(is="cs-form" on-submit="_change_password")
			h3 [[L.password_changing]]
			p
				input#current_password(is="cs-input-text" placeholder="[[L.current_password]]" type="password" tight)
				button(is="cs-button" type="button" icon="lock" on-tap="_show_password" force-fullsize)
			p
				input#new_password(is="cs-input-text" placeholder="[[L.new_password]]" type="password" tight)
				button(is="cs-button" type="button" icon="lock" on-tap="_show_password" force-fullsize)
			button(is="cs-button" primary type="submit") [[L.change_password]]
	script(src="script.js")
