%dom-module(id="cs-shop-cart-item")
	%link(rel="import" href="style.css" type="css")
	%template
		#content.cs-margin-top
			%div
				%a#img(href="[[href]]")
			%div
				%a.cs-text-lead(href="[[href]]") [[item_title]]
				\:
				%input(is="cs-input-text" compact min="0" type="number" value="{{units}}")/
				%span.cs-text-lead [[concat('x ', unit_price_formatted, ' = ', price_formatted)]]
				%span#discount.cs-text-lead
				%div
					%content(select="#description")
	%script(src="script.js")
