# Exclude configuration
config/main.json
# Exclude files from storage directory
storage/*/*
# Except .htaccess, which should be committed
!storage/*/.htaccess
# Exclude backups, they are just for investigations in case when update failed
fs_backup.json
meta_backup.json
# Exclude test coverage results
tests/coverage_data.json
tests/code_coverage_report/*
