AddDefaultCharset utf-8
Options -Indexes -Multiviews +FollowSymLinks
IndexIgnore *.php *.pl *.cgi *.htaccess *.htpasswd
FileETag None

RewriteEngine On
RewriteBase /

<FilesMatch ".*/.*">
	Options -FollowSymLinks
</FilesMatch>
<FilesMatch "\.(css|js|gif|jpg|jpeg|png|ico|svg|svgz|ttc|ttf|otf|woff|woff2|eot)$">
	RewriteEngine Off
</FilesMatch>
<FilesMatch "\.(css|js|gif|jpg|jpeg|png|ico|svg|svgz|ttc|ttf|otf|woff|woff2|eot|html)$">
	<ifModule mod_expires.c>
		ExpiresActive On
		ExpiresDefault "access plus 1 month"
	</ifModule>
	<ifModule mod_headers.c>
		Header set Cache-Control "max-age=2592000, immutable"
	</ifModule>
</FilesMatch>
<Files license.txt>
	RewriteEngine Off
</Files>
<Files *.php>
	RewriteEngine Off
</Files>

RewriteRule .* index.php
