%dom-module(id="cs-shop-category")
	%link(rel="import" href="style.css" type="css")
	%template
		#content.cs-margin-top
			%div
				%a#img(href="[[href]]")
			%div
				%content(select="h1")
				%content(select="#description")
				.nested-categories
					%content(select="#nested")
	%script(src="script.js")
