dom-module#cs-shop-category
	link(rel="import" href="style.css" type="css")
	template
		style(include="basic-styles")
		#content.cs-margin-top
			div
				a(href="[[href]]")
					img#img
			div
				content(select="h1")
				content(select="#description")
				.nested-categories
					content(select="#nested")
	script(src="script.js")
