dom-module(id="cs-system-registration-form")
	template
		style(is="custom-style" include="advanced-styles")
		form(is='cs-form' on-submit="_registration")
			h3 [[L.sign_up]]
			label
				input(is='cs-input-text' placeholder='Email' type='email' id='email' autocorrect='off')
			button(is='cs-button' primary type='submit') [[L.sign_up]]
	script(src="script.js")
