dom-module#cs-system-admin-themes
	template
		style(include="advanced-styles")
		table.cs-table(center list)
			tr
				th [[L.theme_name]]
				th [[L.state]]
				th [[L.action]]
			template(is="dom-repeat" items="[[themes]]" as="theme")
				tr(class$="[[theme.class]]")
					td [[theme.name]]
					td
						cs-icon(icon="[[theme.icon]]")
						button(is="cs-button" type="button" icon="book" tooltip="[[L.information_about_theme]]" hidden="[[!theme.readme]]")
						section(is="cs-section-modal" content="[[theme.readme.content]]")
						= ' '
						button(is="cs-button" type="button" icon="legal" tooltip="[[L.license]]" hidden="[[!theme.license]]")
						section(is="cs-section-modal" content="[[theme.license.content]]")
					td(left)
						a(is="cs-link-button" icon="check" on-tap="_set_current" force-compact hidden="[[equal(theme.name, current_theme)]]") [[L.set_current_theme]]
						= ' '
						a(is="cs-link-button" icon="trash" on-tap="_remove_completely" tooltip="[[L.complete_theme_removal]]" hidden="[[!theme.can_delete]]")
		p
			input(is="cs-input-text" type="file" compact tight id="file")
			button(is="cs-button" type="button" icon="upload" on-tap="_upload") [[L.upload_and_install_update_theme]]
	script(src="script.js")
