dom-module#cs-blogs-admin-sections-list
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		table.cs-table(list)
			tr
				th [[L.blogs_sections]]
				th [[L.action]]
			template(is="dom-repeat" items="[[sections]]")
				tr
					td
						a(href="/Blogs/section/[[item.full_path]]") [[item.full_title]]
						a(href="/Blogs/section/[[item.full_path]]")
							span(tooltip="[[L.posts_in_section]]")
								[[item.posts]]
								cs-tooltip
					td
						a(is="cs-link-button" icon="pencil" on-tap="_edit" tooltip="[[L.edit]]")
						= ' '
						a(is="cs-link-button" icon="trash" on-tap="_delete" tooltip="[[L.delete]]")
		p
			a(is="cs-link-button" on-tap="_add") [[L.add_section]]
	script(src="script.js")
