dom-module#cs-system-admin-users-edit-user-form
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		h2.cs-text-center(hidden="[[user_data.id]]")
			cs-icon(icon="spinner" spin)
		cs-form: form(hidden="[[!user_data.id]]")
			label id
			cs-input-text: input(readonly value="[[user_data.id]]")
			label [[L.registration_date]]
			cs-input-text: input(readonly value="[[user_data.reg_date_formatted]]")
			label [[L.registration_ip]]
			cs-input-text: input(readonly value="[[user_data.reg_ip_formatted.0]]")
			template(is="dom-if" if="[[user_data.reg_ip_formatted.1]]")
				br
				cs-input-text: input(readonly value="[[user_data.reg_ip_formatted.1]]" class="cs-margin-bottom")
			label [[L.login]]
			cs-input-text: input(type="text" value="{{user_data.login}}")
			label [[L.username]]
			cs-input-text: input(type="text" value="{{user_data.username}}")
			label Email
			cs-input-text: input(type="email" value="{{user_data.email}}")
			label [[L.password_only_for_changing]]
			div
				cs-input-text(tight): input(type="password" value="{{user_data.password}}")
				cs-button(compact): button(type="button" on-tap="_show_password")
					cs-icon(icon="lock")
			label [[L.language]]
			select(is="cs-select" selected="{{user_data.language}}" size="5")
				template(is="dom-repeat" items="[[languages]]" as="language")
					option(value="[[language.clanguage]]") [[language.description]]
			label [[L.timezone]]
			select(is="cs-select" selected="{{user_data.timezone}}" size="7")
				template(is="dom-repeat" items="[[timezones]]" as="timezone")
					option(value="[[timezone.timezone]]") [[timezone.description]]
			label [[L.status]]
			nav(is="cs-nav-button-group")
				label(is="cs-label-button" value="{{user_data.status}}")
					input(checked="[[equal(user_data.status, -1)]]" type="radio" value="-1")
					| [[L.is_not_activated]]
				label(is="cs-label-button")
					input(checked="[[equal(user_data.status, 0)]]" type="radio" value="0")
					| [[L.inactive]]
				label(is="cs-label-button")
					input(checked="[[equal(user_data.status, 1)]]" type="radio" value="1")
					| [[L.active]]
			label [[L.avatar]]
			label
				img(src="[[if(user_data.avatar, user_data.avatar, '')]]" hidden="[[!user_data.avatar]]")
			cs-input-text: input(type="text" value="{{user_data.avatar}}")
			div.cs-padding-bottom
				cs-button(hidden="[[!can_upload]]"): button#upload-avatar(type="button")
					cs-icon(icon="upload")
					|  [[L.upload_avatar]]
			div
				cs-button(primary): button(type="button" on-tap="save") [[L.save]]
	script(src="script.js")
