include ../_settings_mixins
- MIRROR_MODE_MASTER_MASTER	= 0
- MIRROR_MODE_MASTER_SLAVE	= 1

dom-module#cs-system-admin-databases-list
	template
		style(include="advanced-styles")
		table.cs-table(center list)
			tr
				th [[L.action]]
				th [[L.db_host]]
				th [[L.db_type]]
				th [[L.db_prefix]]
				th [[L.db_name]]
				th [[L.db_user]]
				th [[L.db_charset]]
			template(is="dom-repeat" items="[[databases]]" as="database" id="databases_list")
				tr(class$="[[if(index, '', 'cs-text-bold')]]")
					td.cs-text-left
						a(is="cs-link-button" on-tap="_add" icon="plus" tooltip="[[L.add]] [[L.mirror]] [[L.of_db]]")
						template(is="dom-if" if="[[index]]")
							= ' '
							button(is="cs-button" on-tap="_test_connection" icon="signal" tooltip="[[L.test_connection]]")
							= ' '
							a(is="cs-link-button" on-tap="_edit" icon="pencil" tooltip="[[L.edit]] [[L.db]]")
							= ' '
							a(is="cs-link-button" on-tap="_delete" icon="trash" tooltip="[[L.delete]] [[L.db]]")
					td [[database.host]]
					td [[database.type]]
					td [[database.prefix]]
					td [[database.name]]
					td [[if(index, database.user, '*****')]]
					td [[database.charset]]
				template(is="dom-repeat" items="[[database.mirrors]]" as="mirror")
					tr
						td.cs-text-right
							a(is="cs-link-button" on-tap="_edit" icon="pencil" tooltip="[[L.edit]] [[L.mirror]] [[L.of_db]]")
							= ' '
							a(is="cs-link-button" on-tap="_delete" icon="trash" tooltip="[[L.delete]] [[L.mirror]] [[L.of_db]]")
						td [[mirror.host]]
						td [[mirror.type]]
						td [[mirror.prefix]]
						td [[mirror.name]]
						td [[mirror.user]]
						td [[mirror.charset]]
		p
			a(is="cs-link-button" on-tap="_add") [[L.add_database]]
		form.cs-text-center(is="cs-form")
			+on-off-switcher("db_balance")
			+on-off-switcher("db_mirror_mode", null, [MIRROR_MODE_MASTER_MASTER, MIRROR_MODE_MASTER_SLAVE], ["[[L.master_master]]", "[[L.master_slave]]"])
			+footer-buttons
	script(src="script.js")
