dom-module#cs-system-sign-in
	template
		style(is="custom-style" include="advanced-styles")
		cs-form: form(on-submit="_sign_in")
			h3 [[L.sign_in]]
			label
				cs-input-text: input#login(placeholder="[[L.login_or_email]]" type="text" autocorrect="off")
			label
				cs-input-text: input#password(placeholder="[[L.password]]" type="password")
			cs-group
				cs-button(primary): button(type="submit") [[L.sign_in]]
				cs-button(icon="question" tooltip="[[L.restore_password]]"): button(type="button" on-tap="_restore_password")
	script(src="script.js")
