include ../_settings_mixins
dom-module#cs-system-admin-optimization
	template
		style(include="advanced-styles")
		form.cs-text-center(is="cs-form")
			+on-off-switcher("cache_compress_js_css")
			+on-off-switcher("frontend_load_optimization", "equal(settings.cache_compress_js_css, 0)")
			+on-off-switcher("vulcanization")
			+on-off-switcher("put_js_after_body")
			+input("inserts_limit", "simple_admin_mode", "number")
			+input("update_ratio", "simple_admin_mode", "number")
			p
				input(is="cs-input-text" compact tight value="{{path_prefix}}" placeholder="[[L.partial_cache_cleaning]]")
				button(is="cs-button" type="button" disabled="[[equal(settings.cache_state, 0)]]" on-tap="_clean_cache") [[L.clean_settings_cache]]
			button(is="cs-button" type="button" disabled="[[equal(settings.cache_compress_js_css, 0)]]" on-tap="_clean_pcache") [[L.clean_scripts_styles_cache]]
			+footer-buttons
	script(src="script.js")
