dom-module#cs-system-admin-databases-form
	template
		form(is="cs-form")
			template(is="dom-if" if="[[and(add, databases.length)]]")
				label(tooltip="[[L.db_mirror_info]]")
					[[L.db_mirror]]
					cs-tooltip
				select(is="cs-select" selected="{{database.mirror}}" size="5")
					option(value="-1") [[L.separate_db]]
					template(is="dom-repeat" items="[[databases]]")
						option(value="[[item.index]]") [[_db_name(item.index, item.host, item.name)]]
			label(tooltip="[[L.db_host_info]]")
				[[L.db_host]]
				cs-tooltip
			input(is="cs-input-text" type="text" value="{{database.host}}")
			label(tooltip="[[L.db_type_info]]")
				[[L.db_type]]
				cs-tooltip
			select(is="cs-select" selected="{{database.type}}" size="5")
				template(is="dom-repeat" items="[[engines]]")
					option [[item]]
			label(tooltip="[[L.db_prefix_info]]")
				[[L.db_prefix]]
				cs-tooltip
			input(is="cs-input-text" type="text" value="{{database.prefix}}")
			label(tooltip="[[L.db_name_info]]")
				[[L.db_name]]
				cs-tooltip
			input(is="cs-input-text" type="text" value="{{database.name}}")
			label(tooltip="[[L.db_user_info]]")
				[[L.db_user]]
				cs-tooltip
			input(is="cs-input-text" type="text" value="{{database.user}}")
			label(tooltip="[[L.db_password_info]]")
				[[L.db_password]]
				cs-tooltip
			input(is="cs-input-text" type="text" value="{{database.password}}")
			div
				button(is="cs-button" type="button" primary on-tap="_save" disabled="[[!and(database.host, database.type)]]") [[L.save]]
				button(is="cs-button" type="button" on-tap="_test_connection" icon="signal" disabled="[[!and(database.host, database.type)]]") [[L.test_connection]]
	script(src="script.js")
