%dom-module(id="cs-system-admin-users-list")
	%template
		%template#pagination
			%p.cs-left
				%template(is="dom-if" if="{{users.length && users_count > search_limit}}")
					%ul.uk-pagination(on-click="page_click" data-uk-pagination="{items:{{users_count}}, itemsOnPage:{{search_limit}}, currentPage:{{search_page}}}")
				/ Stub to avoid table jumping when selecting pages or changing number of elements per page
				%template(is="dom-if" if="{{users.length > users_count}}")
					%ul.uk-pagination
						%li
							%span &nbsp;
		.uk-form
			%ul.cs-tabs
				%li [[L.search]]
				%li [[L.show_columns]]
			%div
				%div
					%select(value="[[search_column::change]]")
						%option(selected value="") [[L.all_columns]]
						%template(is="dom-repeat" items="[[all_columns]]" as="column")
							%option(value="[[column]]") [[column]]
					%span [[L.search_mode]]
					%select(value="{{search_mode::change}}")
						%template(is="dom-repeat" items="[[search_modes]]" as="mode")
							<option selected="[[equal(mode, search_mode)]]" value="[[mode]]">[[mode]]</option>
					%input.uk-form-width-medium(value="{{search_text::input}}" placeholder="[[L.search_text]]" type="text")/
					%span [[L.items]]
					%input(min="1" step="1" type="number" value="{{search_limit::input}}")
				%ul.uk-padding-remove
					%template(is="dom-repeat" items="[[search_columns]]" as="column")
						%li(on-click="toggle_search_column" data-column-index$="[[index]]" class$="[[if(column.selected, 'uk-button-primary', '', 'cs-pointer uk-button uk-margin-bottom ')]]") [[column.name]]
			%hr/
			%template(bind ref="pagination")
			%cs-table(center list with-header)
				%cs-table-row
					%cs-table-cell [[L.action]]
					%cs-table-cell &nbsp;
					%template(is="dom-repeat" items="[[columns]]" as="column")
						%cs-table-cell [[column]]
				%template(is="dom-repeat" items="[[users]]" as="user")
					%cs-table-row(class$="[[user.class]]" data-user-index$="[[index]]")
						%cs-table-cell
							%template(is="dom-if" if="[[user.is_root]]") -
							%template(is="dom-if" if="[[!user.is_root]]")
								%template(is="dom-if" if="[[!user.is_guest]]")
									%a.uk-button.cs-button-compact(on-click="edit_user" data-uk-tooltip$="[[tooltip_animation]]" title$="[[L.edit_user_information]]")
										.uk-icon-pencil
								%template(is="dom-if" if="[[!or(user.is_guest, user.is_bot)]]")
									%a.uk-button.cs-button-compact(href$="[[concat('/admin/System/users/users/groups/', user.id)]]" data-uk-tooltip$="[[tooltip_animation]]" title="[[L.edit_user_groups]]")
										.uk-icon-group
								.uk-button.cs-button-compact(data-uk-tooltip$="[[tooltip_animation]]" on-click="edit_permissions" title$="[[L.edit_user_permissions]]")
									.uk-icon-key
						%cs-table-cell
							%span(data-uk-tooltip$="[[tooltip_animation]]" title$="[[user.type_info]]") [[user.type]]
						%template(is="dom-repeat" items="[[user.columns]]" as="column")
							%cs-table-cell [[column]]
		%template(is="dom-if" if="[[!users.length]]")
			%h2.uk-text-center
				.uk-icon-spin.uk-icon-spinner
		%template(bind ref="pagination")
		%p.cs-left
			%button.uk-button(on-click="add_user" type="button") [[L.add_user]]
			%button.uk-button(on-click="add_bot" type="button") [[L.add_bot]]
	%script(src="script.js")
