mixin pagination
	.cs-margin.cs-text-center(hidden="[[!show_pagination]]")
		nav(is="cs-nav-pagination" page="{{search_page}}" pages="[[search_pages]]")
dom-module#cs-system-admin-users-list
	template
		style(include="advanced-styles")
		nav(is="cs-nav-tabs")
			button(is="cs-button") [[L.search]]
			button(is="cs-button") [[L.show_columns]]
		section(is="cs-section-switcher")
			div
				select(is="cs-select" compact selected="{{search_column}}")
					option(selected value="") [[L.all_columns]]
					template(is="dom-repeat" items="[[all_columns]]" as="column")
						option(value="[[column]]") [[column]]
				= ' '
				[[L.search_mode]]
				= ' '
				select(is="cs-select" compact selected="{{search_mode}}")
					template(is="dom-repeat" items="[[search_modes]]" as="mode")
						option(value="[[mode]]" selected="[[equal(mode, search_mode)]]") [[mode]]
				= ' '
				input(is="cs-input-text" value="{{search_text}}" placeholder="[[L.search_text]]" type="text")
				= ' '
				[[L.items]]
				= ' '
				input(is="cs-input-text" compact min="1" step="1" type="number" value="{{search_limit}}")
			div
				template(is="dom-repeat" items="[[search_columns]]" as="column")
					button(is="cs-button" on-tap="toggle_search_column" primary="[[column.selected]]") [[column.name]]
					= ' '
		hr
		+pagination
		h2.cs-text-center(hidden="[[!searching_loader]]")
			cs-icon(icon="spinner" spin)
		table.cs-table(center list)
			tr
				th [[L.action]]
				th &nbsp;
				template(is="dom-repeat" items="[[columns]]" as="column")
					th [[column]]
			template(is="dom-repeat" items="[[users]]" as="user")
				tr(class$="[[user.class]]" data-user-index$="[[index]]")
					td
						template(is="dom-if" if="[[user.is_root]]") -
						template(is="dom-if" if="[[!user.is_root]]")
							template(is="dom-if" if="[[!user.is_guest]]")
								a(is="cs-link-button" icon="pencil" on-tap="edit_user" tooltip="[[L.edit_user_information]]")
								= ' '
							template(is="dom-if" if="[[!user.is_guest]]")
								button(is="cs-button" icon="group" on-tap="edit_groups" tooltip="[[L.edit_user_groups]]")
								= ' '
							button(is="cs-button" icon="key" on-tap="edit_permissions" tooltip="[[L.edit_user_permissions]]")
					td
						span(tooltip="[[user.type_info]]")
							[[user.type]]
							cs-tooltip
					template(is="dom-repeat" items="[[user.columns]]" as="column")
						td [[column]]
		+pagination
		p.cs-text-left
			button(is="cs-button" on-tap="add_user" type="button") [[L.add_user]]
	script(src="script.js")
