%polymer-element(name="cs-system-admin-users-list")
	%template
		%template#pagination
			%p.cs-left
				%template(if="{{users.length && users_count > search_limit}}")
					%ul.uk-pagination(on-click="{{page_click}}" data-uk-pagination="{items:{{users_count}}, itemsOnPage:{{search_limit}}, currentPage:{{search_page}}}")
				/ Stub to avoid table jumping when selecting pages or changing number of elements per page
				%template(if="{{users.length > users_count}}")
					%ul.uk-pagination
						%li
							%span &nbsp;
		.uk-form
			%ul.cs-tabs
				%li [[L.search]]
				%li [[L.show_columns]]
			%div
				%div
					%select(value="{{search_column}}")
						%option(selected value="") [[L.all_columns]]
						%template(repeat="{{column in all_columns}}")
							%option(value="[[column]]") [[column]]
					[[L.search_mode]]
					%select(value="{{search_mode}}")
						%template(repeat="{{mode in search_modes}}")
							<option selected?="[[mode == search_mode]]" value="[[mode]]">[[mode]]</option>
					%input.uk-form-width-medium(value="{{search_text}}" placeholder="[[L.search_text]]" type="text")/
					[[L.items]]
					%input(min="1" step="1" type="number" value="{{search_limit}}")
				%ul.uk-padding-remove
					%template(repeat="{{column, index in search_columns}}")
						%template(if="{{column.selected}}")
							%li.cs-pointer.uk-button.uk-margin-bottom.uk-button-primary(on-click="{{toggle_search_column}}" data-column-index="{{index}}") [[column.name]]
						%template(if="{{!column.selected}}")
							%li.cs-pointer.uk-button.uk-margin-bottom(on-click="{{toggle_search_column}}" data-column-index="{{index}}") [[column.name]]
			%hr/
			%template(bind ref="pagination")
			%cs-table(center list with-header)
				%cs-table-row
					%cs-table-cell [[L.action]]
					%cs-table-cell &nbsp;
					%template(repeat="{{column in columns}}")
						%cs-table-cell [[column]]
				%template(repeat="{{user, index in users}}")
					%cs-table-row(class="[[user.class]]" data-user-index="{{index}}")
						%cs-table-cell
							%template(if="[[user.is_root]]") -
							%template(if="[[!user.is_root]]")
								%template(if="[[!user.is_guest]]")
									%a.uk-button.cs-button-compact(on-click="[[edit_user]]" data-uk-tooltip="[[tooltip_animation]]" title="[[L.edit_user_information]]")
										.uk-icon-pencil
								%template(if="{{user.is_active && !user.is_guest}}")
									%a.uk-button.cs-button-compact(href="/admin/System/users/users/deactivate/[[user.id]]" data-uk-tooltip="[[tooltip_animation]]" title="[[L.deactivate_user]]")
										.uk-icon-minus
								%template(if="{{!user.is_active && !user.is_guest}}")
									%a.uk-button.cs-button-compact(href="/admin/System/users/users/activate/[[user.id]]" data-uk-tooltip="[[tooltip_animation]]" title="[[L.activate_user]]")
										.uk-icon-check
								%template(if="{{!user.is_guest && !user.is_bot}}")
									%a.uk-button.cs-button-compact(href="/admin/System/users/users/groups/[[user.id]]" data-uk-tooltip="[[tooltip_animation]]" title="[[L.edit_user_groups]]")
										.uk-icon-group
								.uk-button.cs-button-compact(data-uk-tooltip="[[tooltip_animation]]" on-click="[[edit_permissions]]" title="[[L.edit_user_permissions]]")
									.uk-icon-key
						%cs-table-cell
							%span(data-uk-tooltip="[[tooltip_animation]]" title="[[user.type_info]]") [[user.type]]
						%template(repeat="[[column in user.columns]]")
							%cs-table-cell [[column]]
		%template(if="{{!users.length}}")
			%h2.uk-text-center
				.uk-icon-spin.uk-icon-spinner
		%template(bind ref="pagination")
		%p.cs-left
			%button.uk-button(on-click="[[add_user]]" type="button") [[L.add_user]]
			%button.uk-button(on-click="[[add_bot]]" type="button") [[L.add_bot]]
	%script(src="script.js")
