%polymer-element(name="cs-system-admin-groups-list")
	%template
		%template(if="{{!groups.length}}")
			%h2.uk-text-center
				.uk-icon-spin.uk-icon-spinner
		%template(if="{{groups.length}}")
			%cs-table(center list with-header)
				%cs-table-row
					%cs-table-cell [[L.action]]
					%cs-table-cell id
					%cs-table-cell [[L.group_name]]
					%cs-table-cell [[L.group_description]]
				%template(repeat="{{group, index in groups}}")
					%cs-table-row(data-group-index="{{index}}")
						%cs-table-cell
							.uk-button.cs-button-compact(on-click="[[edit_group]]" data-uk-tooltip="[[tooltip_animation]]" title="[[L.edit_group_information]]")
								.uk-icon-pencil
							%template(if="{{group.allow_to_delete}}")
								.uk-button.cs-button-compact(on-click="[[delete_group]]" data-uk-tooltip="[[tooltip_animation]]" title="[[L.delete]]")
									.uk-icon-trash-o
							.uk-button.cs-button-compact(on-click="[[edit_permissions]]" data-uk-tooltip="[[tooltip_animation]]" title="[[L.edit_group_permissions]]")
								.uk-icon-key
						%cs-table-cell [[group.id]]
						%cs-table-cell [[group.title]]
						%cs-table-cell [[group.description]]
			%p.cs-left
				%button.uk-button(on-click="[[add_group]]" type="button") [[L.add_group]]
	%script(src="script.js")
