%polymer-element(name="cs-system-admin-groups-list")
	%template
		%cs-table(center list with-header)
			%cs-table-row
				%cs-table-cell [[L.action]]
				%cs-table-cell id
				%cs-table-cell [[L.group_name]]
				%cs-table-cell [[L.group_description]]
			%template(repeat="{{group, index in groups}}")
				%cs-table-row(data-group-index="{{index}}")
					%cs-table-cell
						%a.uk-button.cs-button-compact(href="/admin/System/users/groups/edit/[[group.id]]" data-uk-tooltip="[[tooltip_animation]]" title="[[L.edit_group_information]]")
							.uk-icon-pencil
						%template(if="{{group.allow_to_delete}}")
							%a.uk-button.cs-button-compact(href="/admin/System/users/groups/delete/[[group.id]]" data-uk-tooltip="[[tooltip_animation]]" title="[[L.delete]]")
								.uk-icon-trash-o
						.uk-button.cs-button-compact(data-uk-tooltip="[[tooltip_animation]]" on-click="{{edit_permissions}}" title="[[L.edit_group_permissions]]")
							.uk-icon-key
					%cs-table-cell [[group.id]]
					%cs-table-cell [[group.title]]
					%cs-table-cell [[group.description]]
	%script(src="script.js")
