%dom-module(id="cs-system-admin-groups-list")
	%template
		%h2.uk-text-center(hidden$="[[groups.length]]")
			.uk-icon-spin.uk-icon-spinner
		%cs-table(center list with-header hidden$="[[!groups.length]]")
			%cs-table-row
				%cs-table-cell [[L.action]]
				%cs-table-cell id
				%cs-table-cell [[L.group_name]]
				%cs-table-cell [[L.group_description]]
			%template(is="dom-repeat" items="[[groups]]" as="group")
				%cs-table-row
					%cs-table-cell
						.uk-button.cs-button-compact(on-click="edit_group" data-uk-tooltip$="[[tooltip_animation]]" title$="[[L.edit_group_information]]")
							.uk-icon-pencil
						.uk-button.cs-button-compact(on-click="delete_group" data-uk-tooltip$="[[tooltip_animation]]" title$="[[L.delete]]" hidden$="[[!group.allow_to_delete]]")
							.uk-icon-trash-o
						.uk-button.cs-button-compact(on-click="edit_permissions" data-uk-tooltip$="[[tooltip_animation]]" title$="[[L.edit_group_permissions]]")
							.uk-icon-key
					%cs-table-cell [[group.id]]
					%cs-table-cell [[group.title]]
					%cs-table-cell [[group.description]]
		%p.cs-left
			%button.uk-button(on-click="add_group" type="button") [[L.add_group]]
	%script(src="script.js")
