dom-module#cs-shop-cart
	template
		style(include="advanced-styles")
		h1.cs-text-center [[L.your_cart]]
		.empty-cart(hidden="[[items.length]]") [[L.cart_empty]]
		div(hidden="[[!items.length]]")
			template(is="dom-repeat" items="[[items]]")
				cs-shop-cart-item(item_id="[[item.id]]" unit_price="[[item.price]]" units="[[item.units]]")
					img#img(src="[[item.image]]")
					a#link(href="[[item.localized_href]]" target="_blank") [[item.title]]
					#description [[item.short_description]]
			cs-form: form.cs-margin-top
				label [[L.shipping_type]]
				div
					cs-select(selected="{{shipping_type}}"): select
						template(is="dom-repeat" items="[[shipping_types]]" as="type")
							option(value="[[type.id]]") [[type.title]]
					= ' '
					| ([[shipping_cost_formatted]])
				.cs-margin-bottom(hidden="[[!shipping_type_details.description]]") [[shipping_type_details.description]]
				label [[L.shipping_username]]
				cs-input-text: input(type="text" value="{{shipping_username}}")
				label(hidden="[[!equal(shipping_type_details.phone_needed, 1)]]") [[L.shipping_phone]]
				cs-input-text: input(type="text" value="{{phone}}")
				label(hidden="[[!equal(shipping_type_details.address_needed, 1)]]") [[L.shipping_address]]
				textarea(is="cs-textarea" autosize value="{{address}}" hidden="[[!equal(shipping_type_details.address_needed, 1)]]")
				label [[L.comment]]
				textarea(is="cs-textarea" autosize value="{{comment}}")
				label(hidden="[[equal(payment_methods.length, 1)]]") [[L.payment_method]]
				cs-select(selected="{{payment_method}}" hidden="[[equal(payment_methods.length, 1)]]"): select
					template(is="dom-repeat" items="[[payment_methods]]" as="details")
						option(value="[[details.method]]") [[details.title]]
				#payment_method_description.cs-margin-bottom
				div
					template(is="dom-if" if="[[!registration_required]]")
						cs-button(primary): button(on-tap="finish_order" type="button") [[L.finish_order]]
					template(is="dom-if" if="[[registration_required]]")
						p.cs-block-warning.cs-text-warning [[L.register_to_finish_order]]
						cs-button: button(disabled type="button") [[L.finish_order]]
	script(src="script.js")
