%dom-module(id="cs-composer")
	%template
		%style(include="advanced-styles-alone")
		%h2.cs-text-center [[L.composer_composer_updating]]
		%h1.cs-text-center(hidden$="[[status]]")
			%cs-icon(icon="spinner" spin)
		%h3.cs-text-center(hidden$="[[!status]]") [[status]]
		%pre#result(style="background: #1a1a1a")
	%script(src="script.js")
