dom-module#cs-system-registration
	template
		style(is="custom-style" include="advanced-styles")
		form(is="cs-form" on-submit="_registration")
			h3 [[L.registration]]
			label
				input#email(is="cs-input-text" placeholder="Email" type="email" autocorrect="off")
			button(is="cs-button" primary type="submit") [[L.registration]]
	script(src="script.js")
