dom-module#cs-system-admin-plugins-list
	template
		style(include="advanced-styles")
		table.cs-table(center list)
			tr
				th [[L.plugin_name]]
				th [[L.state]]
				th [[L.action]]
			template(is="dom-repeat" items="[[plugins]]" as="plugin")
				tr(class$="[[plugin.class]]")
					td
						span(tooltip="[[plugin.info]]" hidden="[[!plugin.info]]")
							[[plugin.name_localized]]
							cs-tooltip
						span(hidden="[[and(plugin.info)]]") [[plugin.name_localized]]
					td
						cs-icon(icon="[[plugin.icon]]" tooltip="[[plugin.icon_text]]")
						= ' '
						button(is="cs-button" type="button" icon="book" tooltip="[[L.information_about_plugin]]" hidden="[[!plugin.readme]]")
						section(is="cs-section-modal" content="[[plugin.readme.content]]")
						= ' '
						button(is="cs-button" type="button" icon="legal" tooltip="[[L.license]]" hidden="[[!plugin.license]]")
						section(is="cs-section-modal" content="[[plugin.license.content]]")
					td
						button(is="cs-button" type="button" icon="minus" on-tap="_disable" tooltip="[[L.disable]]" hidden="[[equal(plugin.active, 0)]]")
						button(is="cs-button" type="button" icon="check" on-tap="_enable" force-compact hidden="[[equal(plugin.active, 1)]]") [[L.enable]]
						= ' '
						button(is="cs-button" type="button" icon="trash" on-tap="_remove_completely" tooltip="[[L.complete_plugin_removal]]" hidden="[[equal(plugin.active, 1)]]")
		p
			input(is="cs-input-text" type="file" compact tight id="file")
			button(is="cs-button" type="button" icon="upload" on-tap="_upload") [[L.upload_and_install_update_plugin]]
	script(src="script.js")
