dom-module#cs-system-admin-permissions-list
	template
		style(include="advanced-styles")
		h2.cs-text-center(hidden="[[permissions.length]]")
			cs-icon(icon="spinner" spin)
		table.cs-table(center list hidden="[[!permissions.length]]")
			tr
				th [[L.action]]
				th id
				th [[L.group]]
				th [[L.label]]
			template(is="dom-repeat" items="[[permissions]]" as="permission")
				tr
					td
						button(is="cs-button" on-tap="edit_permission" icon="pencil" tooltip="[[L.edit]]")
						= ' '
						button(is="cs-button" on-tap="delete_permission" icon="trash" tooltip="[[L.delete]]")
					td [[permission.id]]
					td [[permission.group]]
					td
						[[permission.label]]
						= ' '
						sup [[permission.description]]
		p.cs-text-left
			button(is="cs-button" on-tap="add_permission" type="button") [[L.add_permission]]
	script(src="script.js")
