%dom-module(id="cs-system-admin-permissions-list")
	%template
		%h2.uk-text-center(hidden$="[[permissions.length]]")
			%cs-icon(icon="spinner" spin)
		%cs-table(center list with-header hidden$="[[!permissions.length]]")
			%cs-table-row
				%cs-table-cell [[L.action]]
				%cs-table-cell id
				%cs-table-cell [[L.group]]
				%cs-table-cell [[L.label]]
			%template(is="dom-repeat" items="[[permissions]]" as="permission")
				%cs-table-row
					%cs-table-cell
						%button(is="cs-button" on-click="edit_permission" icon="pencil" tooltip="[[L.edit]]")
						%button(is="cs-button" on-click="delete_permission" icon="trash" tooltip="[[L.delete]]")
					%cs-table-cell [[permission.id]]
					%cs-table-cell [[permission.group]]
					%cs-table-cell(tooltip="[[permission.description]]")
						%span [[permission.label]]
						%cs-tooltip
		%p.cs-left
			%button(is="cs-button" on-click="add_permission" type="button") [[L.add_permission]]
	%script(src="script.js")
