%dom-module#cs-system-admin-components-plugins-list
	%link(rel="import" href="style.css" type="css")
	%template
		%style(include="advanced-styles")
		%table.cs-table(center list)
			%tr
				%th [[L.plugin_name]]
				%th [[L.state]]
				%th [[L.action]]
			%template(is="dom-repeat" items="[[plugins]]" as="plugin")
				%tr(class$="[[plugin.class]]")
					%td
						%template(is="dom-if" if="[[plugin.info]]")
							%a(href="[[concat('/admin/', plugin.name)]]" tooltip="[[plugin.info]]")
								%span [[plugin.name_localized]]
								%cs-tooltip
						%template(is="dom-if" if="[[!plugin.info]]")
							%a(href="[[concat('/admin/', plugin.name)]]") [[plugin.name_localized]]
					%td
						%cs-icon(icon="[[plugin.icon]]" tooltip="[[plugin.icon_text]]")
						%template(is="dom-if" if="[[plugin.readme]]")
							%button(is="cs-button" icon="book" type="button" tooltip="[[concat(L.information_about_plugin, '<br>', L.click_to_view_details)]]")
							%section(is="cs-section-modal" content="[[plugin.readme.content]]")
						%template(is="dom-if" if="[[plugin.license]]")
							%button(is="cs-button" icon="legal" type="button" tooltip="[[concat(L.license, '<br>', L.click_to_view_details)]]")
							%section(is="cs-section-modal" content="[[plugin.license.content]]")
					%td
						%template(is="dom-if" if="[[equal(plugin.active, 1)]]")
							%a(is="cs-link-button" icon="minus" href="[[concat('/admin/System/components/plugins/disable/', plugin.name)]]" tooltip="[[L.disable]]")
						%template(is="dom-if" if="[[equal(plugin.active, 0)]]")
							%a(is="cs-link-button" icon="check" href="[[concat('/admin/System/components/plugins/enable/', plugin.name)]]" tooltip="[[L.enable]]" force-compact) [[L.enable]]
	%script(src="script.js")
