%dom-module#cs-system-admin-components-plugins-list
	%template
		%cs-table(center="" list="" with-header="")
			%cs-table-row
				%cs-table-cell [[L.plugin_name]]
				%cs-table-cell [[L.state]]
				%cs-table-cell [[L.action]]
			%template(is="dom-repeat" items="[[plugins]]" as="plugin")
				%cs-table-row(class$="[[plugin.class]]" data-plugin-index$="[[index]]")
					%cs-table-cell
						%template(is="dom-if" if="[[plugin.info]]")
							%a(href="[[concat('/admin/', plugin.name)]]" data-uk-tooltip$="[[tooltip_animation]]" title$="[[plugin.info]]") [[plugin.name_localized]]
						%template(is="dom-if" if="[[!plugin.info]]")
							%a(href="[[concat('/admin/', plugin.name)]]") [[plugin.name_localized]]
					%cs-table-cell
						%span(class$="[[plugin.icon]]" data-uk-tooltip$="[[tooltip_animation]]" title$="[[plugin.icon_text]]")
						%template(is="dom-if" if="[[plugin.readme]]")
							%button(is="cs-button" icon="book" type="button" data-modal-type="readme" data-uk-tooltip$="[[tooltip_animation]]" on-click="generic_modal" title$="[[concat(L.information_about_plugin, '<br>', L.click_to_view_details)]]")
						%template(is="dom-if" if="[[plugin.license]]")
							%button(is="cs-button" icon="legal" type="button" data-modal-type="license" data-uk-tooltip$="[[tooltip_animation]]" on-click="generic_modal" title$="[[concat(L.license, '<br>', L.click_to_view_details)]]")
					%cs-table-cell
						%template(is="dom-if" if="[[equal(plugin.active, 1)]]")
							%a(is="cs-link-button" icon="minus" href="[[concat('/admin/System/components/plugins/disable/', plugin.name)]]" data-uk-tooltip$="[[tooltip_animation]]" title$="[[L.disable]]")
						%template(is="dom-if" if="[[equal(plugin.active, 0)]]")
							%a(is="cs-link-button" icon="check" href="[[concat('/admin/System/components/plugins/enable/', plugin.name)]]" data-uk-tooltip$="[[tooltip_animation]]" title$="[[L.enable]]") [[L.enable]]
	%script(src="script.js")
