%dom-module#cs-system-admin-components-plugins-list
	%template
		%cs-table(center="" list="" with-header="")
			%cs-table-row
				%cs-table-cell [[L.plugin_name]]
				%cs-table-cell [[L.state]]
				%cs-table-cell [[L.action]]
			%template(is="dom-repeat" items="[[plugins]]" as="plugin")
				%cs-table-row(class$="[[plugin.class]]")
					%cs-table-cell
						%template(is="dom-if" if="[[plugin.info]]")
							%a(href="[[concat('/admin/', plugin.name)]]" tooltip="[[plugin.info]]")
								%span [[plugin.name_localized]]
								%cs-tooltip
						%template(is="dom-if" if="[[!plugin.info]]")
							%a(href="[[concat('/admin/', plugin.name)]]") [[plugin.name_localized]]
					%cs-table-cell
						%cs-icon(icon="[[plugin.icon]]" tooltip="[[plugin.icon_text]]")
						%template(is="dom-if" if="[[plugin.readme]]")
							%button(is="cs-button" icon="book" type="button" bind="[[plugin.readme.modal]]" action="open" tooltip="[[concat(L.information_about_plugin, '<br>', L.click_to_view_details)]]")
							%section(is="cs-section-modal" this="{{plugin.readme.modal}}" content="[[plugin.readme.content]]")
						%template(is="dom-if" if="[[plugin.license]]")
							%button(is="cs-button" icon="legal" type="button" bind="[[plugin.license.modal]]" action="open" tooltip="[[concat(L.license, '<br>', L.click_to_view_details)]]")
							%section(is="cs-section-modal" this="{{plugin.license.modal}}" content="[[plugin.license.content]]")
					%cs-table-cell
						%template(is="dom-if" if="[[equal(plugin.active, 1)]]")
							%a(is="cs-link-button" icon="minus" href="[[concat('/admin/System/components/plugins/disable/', plugin.name)]]" tooltip="[[L.disable]]")
						%template(is="dom-if" if="[[equal(plugin.active, 0)]]")
							%a(is="cs-link-button" icon="check" href="[[concat('/admin/System/components/plugins/enable/', plugin.name)]]" tooltip="[[L.enable]]") [[L.enable]]
	%script(src="script.js")
