dom-module#cs-hybridauth-sign-in
	link(rel="import" href="style.css" type="css")
	template
		h3 [[L.or_sign_in_with]]:
		cs-group(vertical)
			template(is="dom-repeat" items="[[providers]]")
				cs-link-button(icon="[[item.icon]]"): a(href="/HybridAuth/[[item.provider]]") [[item.name]]
				= ' '
	script(src="script.js")
