dom-module#cs-shop-cart-item
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		#content.cs-margin-top
			div
				a(href="[[href]]" target="_blank")
					img#img
			div
				a.cs-text-lead(href="[[href]]" target="_blank") [[item_title]]
				| :
				cs-input-text(compact): input(min="0" type="number" value="{{units}}")
				= ' '
				span.cs-text-lead x [[unit_price_formatted]] = [[price_formatted]]
				span#discount.cs-text-lead
				div#description
	script(src="script.js")
