dom-module#cs-shop-item
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		h1 [[header_title]]
		#content
			div
				#images
			#div.cs-padding-left
				p
					span.cs-text-primary.cs-text-lead [[price]]
					= ' '
					cs-shop-add-to-cart(item_id="[[item_id]]")
					= ' '
					span.cs-text-lead ([[L.in_stock]]: [[in_stock]])
				content(select="#description")
		template(is="dom-if" if="[[show_attributes]]")
			h2.cs-margin-top [[L.characteristics]]
			content(select="#attributes")
		//- Ugly hack for Firefox because of https://github.com/webcomponents/webcomponentsjs/issues/112
		div(hidden)
			content
	script(src="script.js")
