%dom-module(id="cs-shop-category-nested")
	%link(rel="import" href="style.css" type="css")
	%template
		%a#img.cs-margin-top.cs-text-center(href="[[href]]")
			.cs-padding-top [[category_title]]
	%script(src="script.js")
