dom-module#cs-editor-simple-inline
	link(rel="import" href="style.css" type="css")
	template
		style(include="cs-editor-styles")
		cs-icon(icon="spinner" spin hidden="[[loaded]]")
		slot
	script(src="script.js")
