include ../_settings_mixins
dom-module#cs-system-admin-site-info
	template
		style(include="advanced-styles")
		form.cs-text-center(is="cs-form")
			label(tooltip="[[L.site_name_info]]")
				[[L.site_name]]
				cs-tooltip
			input(is="cs-input-text" value="{{settings.name}}")
			label(tooltip="[[L.url_info]]")
				[[L.url]]
				cs-tooltip
			textarea(is="cs-textarea" autosize value="{{settings.url}}")
			label(tooltip="[[L.cookie_domain_info]]" hidden$="[[simple_admin_mode]]")
				[[L.cookie_domain]]
				cs-tooltip
			textarea(is="cs-textarea" autosize value="{{settings.cookie_domain}}" hidden$="[[simple_admin_mode]]")
			label(tooltip="[[L.cookie_prefix_info]]" hidden$="[[simple_admin_mode]]")
				[[L.cookie_prefix]]
				cs-tooltip
			input(is="cs-input-text" value="{{settings.cookie_prefix}}" hidden$="[[simple_admin_mode]]")
			label(tooltip="[[L.timezone_info]]")
				[[L.timezone]]
				cs-tooltip
			template(is="dom-if" if="[[timezones]]")
				select(is="cs-select" selected="{{settings.timezone}}" size="7")
					template(is="dom-repeat" items="[[timezones]]")
						option(value="[[item.timezone]]") [[item.description]]
			label(tooltip="[[L.admin_email_info]]")
				[[L.admin_email]]
				cs-tooltip
			input(is="cs-input-text" type="email" value="{{settings.admin_email}}")
			+footer-buttons
	script(src="script.js")
