dom-module#cs-system-restore-password-form
	template
		style(is="custom-style" include="advanced-styles")
		cs-form: form(on-submit="_restore_password")
			h3 [[L.restore_password]]
			label
				cs-input-text: input#login(placeholder="[[L.login_or_email]]" type="text" autocorrect="off")
			cs-button(primary): button(type="submit") [[L.restore_password]]
	script(src="script.js")
