dom-module#cs-system-admin-users-add-user-form
	template
		form(is="cs-form")
			label [[L.email]]
			input(is="cs-input-text" type="email" value="{{email}}")/
			p
				button(is="cs-button" type="button" primary on-tap="save" disabled="[[!email]]") [[L.save]]
	script(src="script.js")
