%dom-module(id="cs-system-admin-users-add-user-form")
	%template
		.uk-form.uk-form-stacked
			%label.uk-form-label [[L.email]]
			%input(type="email" value="{{email::input}}")/
			%p
				%button(is="cs-button" primary on-click="save" disabled$="[[!email]]") [[L.save]]
	%script(src="script.js")
