dom-module#cs-cleverstyle-header-user-block
	link(rel="import" href="style.css" type="css")
	template
		custom-style: style(include="advanced-styles").
		div
			img(src="[[avatar]]")
		div
			b
				| [[__('hello', username)]]
				cs-icon(icon="sign-out-alt" hidden="[[guest]]" tooltip="[[L.sign_out]]" on-tap="_sign_out")
			template(is="dom-if" if="[[guest]]")
				cs-group
					cs-button(icon="sign-in-alt" primary): button(type="button" on-tap="_sign_in" small-button) [[L.sign_in]]
					cs-button(icon="pencil-alt"): button(tooltip="[[L.registration_quick_form]]" type="button" on-tap="_registration" small-button) [[L.registration]]
			template(is="dom-if" if="[[!guest]]")
				cs-group
					cs-button(icon="cog"): button(type="button" small-button) [[L.settings]]
					cs-dropdown(align="right")
						cs-group(vertical)
							cs-button: button(type="button" on-tap="_general_settings") [[L.general_settings]]
							cs-button: button(type="button" on-tap="_change_password") [[L.change_password]]
	script(src="script.js")
