include ../_settings_mixins
dom-module#cs-system-admin-system
	template
		style(include="advanced-styles")
		cs-form: form.cs-text-center
			+on-off-switcher("site_mode")
			+input("closed_title")
			+editor("closed_text")
			+input("title_delimiter")
			+on-off-switcher("title_reverse")
			+on-off-switcher("simple_admin_mode")
			+footer-buttons
	script(src="script.js")
