dom-module#cs-system-admin-storages-list
	template
		style(include="advanced-styles")
		table.cs-table(center list)
			tr
				th [[L.action]]
				th [[L.storage_url]]
				th [[L.storage_host]]
				th [[L.storage_driver]]
				th [[L.storage_user]]
			template(is="dom-repeat" items="[[storages]]" as="storage" id="storages_list")
				tr(class$="[[if(index, '', 'cs-text-bold')]]")
					td
						template(is="dom-if" if="[[!index]]") -
						template(is="dom-if" if="[[index]]")
							cs-button(icon="pencil-alt" on-tap="_edit" tooltip="[[L.edit]] [[L.storage]]"): button
							= ' '
							cs-button(icon="trash-alt" on-tap="_delete" tooltip="[[L.delete]] [[L.storage]]"): button
					td [[storage.url]]
					td [[storage.host]]
					td [[storage.driver]]
					td [[if(index, storage.user, '*****')]]
		p
			cs-button(on-tap="_add"): button [[L.add_storage]]
	script(src="script.js")
