dom-module#cs-link-button
	link(rel="import" href="style.css" type="css")
	template
		#content
			cs-icon(icon="[[icon]]" mono)
			content
			cs-icon(icon="[[iconAfter]]" mono)
	script(src="script.js")
