dom-module#cs-blogs-posts-post
	template
		style(include="basic-styles")
		article
			header
				a(href="[[post.url]]")
					h1 [[post.title]]
				template(is="dom-if" if="[[post.articleSection.length]]")
					p
						cs-icon(icon="bookmark")
						= ' '
						template(is="dom-repeat" items="[[post.articleSection]]" as="section")
							a(href="[[sections_path(index)]]") [[section]]
			#short_content
			footer
				hr
				p
					time [[post.datetime]]
					= ' '
					cs-icon(icon="user")
					= ' '
					[[post.author.name]]
					= ' '
					template(is="dom-if" if="[[comments_enabled]]")
						a(href="[[post.url]]#comments")
							cs-icon(icon="comments")
							= ' '
							[[post.comments_count]]
							= ' '
					a(href="[[post.url]]")
						cs-icon(icon="angle-double-right")
						= ' '
						[[L.read_more]]
	script(src="script.js")
