<h3 style="text-align: center;">Disqus module (integration of Disqus commenting service), adds comments functionality to other modules</h3>
<h4>Disqus module is compatible with Comments module by interface, but even simpler in usage.</h4>
<h4>Integration of comments displaying:</h4>
<pre>$Page	= \cs\Page::instance();
$Page->content(
	functionality('comments') ? \cs\modules\comments\Comments::instance()->block($id, 'Blogs') : ''
);</pre>
<p>Where <i>$id</i> is integer identifier of article, page or anything else, that will be commented.</p>
<p>NOTE: Use lowercase <code>comments</code> word in namespace (as in <code>provide</code> key in <code>meta.json</code>) to allow easy changing commenting system by alternative one.</p>
<h4>Other methods of Comments class:</h4>
<ul>
	<li>
		string Comments::count($item : int)
		<p>Returns HTML snipped that will be replaced with actual number of comments on frontend</p>
	</li>
</ul>
<p>There are several other methods, but they are used directly not so frequent, so, you can find them with description in source code and IDE suggestions.</p>
