html /deep/ [hidden],
html /deep/ template {
	display : none;
}

html /deep/ a {
	background-color : transparent;
}

html /deep/ img {
	border-style : none;
}

html /deep/ [type="checkbox"],
html /deep/ [type="radio"] {
	box-sizing : border-box;
	padding    : 0;
}
