dom-module#cs-system-admin-users-add-user-form
	template
		cs-form: form
			label Email
			cs-input-text: input(type="email" value="{{email}}")
			p
				cs-button(primary): button(type="button" on-tap="save" disabled="[[!email]]") [[L.save]]
	script(src="script.js")
