dom-module#cs-system-admin-groups-list
	template
		style(include="advanced-styles-alone")
		h2.cs-text-center(hidden="[[groups.length]]")
			cs-icon(icon="spinner" spin)
		table.cs-table(center list hidden="[[!groups.length]]")
			tr
				th [[L.action]]
				th id
				th [[L.group_name]]
				th [[L.group_description]]
			template(is="dom-repeat" items="[[groups]]" as="group")
				tr
					td
						cs-button(compact): button(on-tap="edit_group" tooltip="[[L.edit_group_information]]")
							cs-icon(icon="pencil")
						= ' '
						cs-button(compact): button(on-tap="edit_permissions" tooltip="[[L.edit_group_permissions]]")
							cs-icon(icon="key")
						= ' '
						cs-button(compact): button(on-tap="delete_group" tooltip="[[L.delete]]" hidden="[[!group.allow_to_delete]]")
							cs-icon(icon="trash")
					td [[group.id]]
					td [[group.title]]
					td [[group.description]]
		p.cs-text-left
			cs-button: button(type="button" on-tap="add_group") [[L.add_group]]
	script(src="script.js")
