mixin blocks-container (position)
	div(group=position)
		.cs-block-primary.cs-text-primary [[L.#{position}_blocks]]
		template(is="dom-repeat" items="[[blocks.#{position}]]")
			div(index="[[item.index]]" class$="[[_status_class(item.active)]]")
				.title [[item.title]]
				div
					a(is="cs-link-button" icon="pencil" tooltip="[[L.edit]]" on-tap="_edit_block")
					= ' '
					a(is="cs-link-button" icon="key" tooltip="[[L.edit_permissions]]" on-tap="_block_permissions")
					= ' '
					a(is="cs-link-button" icon="trash" tooltip="[[L.delete]]" on-tap="_delete_block")
dom-module#cs-system-admin-blocks-list
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles-alone")
		#grid
			div
			+blocks-container('top')
			div
			+blocks-container('left')
			+blocks-container('floating')
			+blocks-container('right')
			div
			+blocks-container('bottom')
			div
		.cs-text-left
			button(is="cs-button" type="button" on-tap="_add_block") [[L.add_block]]
	script(src="script.js")
