dom-module#cs-system-admin-storages-list
	template
		style(include="advanced-styles")
		table.cs-table(center list)
			tr
				th [[L.action]]
				th [[L.storage_url]]
				th [[L.storage_host]]
				th [[L.storage_connection]]
				th [[L.storage_user]]
			template(is="dom-repeat" items="[[storages]]" as="storage" id="storages_list")
				tr(class$="[[if(index, '', 'cs-text-bold')]]")
					td
						template(is="dom-if" if="[[!index]]") -
						template(is="dom-if" if="[[index]]")
							a(is="cs-link-button" on-tap="_edit" icon="pencil" tooltip="[[L.edit]] [[L.storage]]")
							= ' '
							a(is="cs-link-button" on-tap="_delete" icon="trash" tooltip="[[L.delete]] [[L.storage]]")
					td [[storage.url]]
					td [[storage.host]]
					td [[storage.connection]]
					td [[if(index, storage.user, '*****')]]
		p
			a(is="cs-link-button" on-tap="_add") [[L.add_storage]]
	script(src="script.js")
