dom-module#cs-static-pages-page
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		div(hidden="[[editing]]")
			p(hidden="[[!admin]]")
				cs-button(compact icon="file-alt" tooltip="[[L.edit]]"): button(type="button" on-tap="_edit")
				= ' '
				cs-button(compact icon="trash-alt" tooltip="[[L.delete]]"): button(type="button" on-tap="_delete")
			slot
		div(hidden="[[!editing]]")
			h1#title(contenteditable="true") [[page.title]]
			template(is="dom-if" if="[[!inline_editor]]")
				cs-editor(value="{{page.content}}")
					cs-textarea(autosize): textarea(value="{{page.content}}")
			template(is="dom-if" if="[[inline_editor]]" restamp)
				cs-editor-inline(value="{{page.content}}")
					div
			p
				cs-button(primary): button(on-tap="_save" type="button") [[L.save]]
	script(src="script.js")
