%dom-module(id="cs-blockchain-payment-pay")
	%template
		.cs-center
			%h1 [[description]]
			#qr
			%h3 [[text]]
			%h3
				%cs-icon(icon="spinner" spin)
				%span [[progress_text]]
	%script(src="script.js")
