%dom-module(id="cs-blockchain-payment-pay")
	%template
		.cs-center
			%h1 [[description]]
			#qr
			%h3 [[text]]
			%h3
				%i.uk-icon-spinner.uk-icon-spin
				%span [[progress_text]]
	%script(src="script.js")
