%dom-module(id="cs-shop-category-item")
	%link(rel="import" href="style.css" type="css")
	%template
		#content.cs-margin-top
			%div
				%a#img(href="[[href]]")
			%div
				%content(select="h1")
				%p
					%span.cs-text-primary.cs-text-lead [[price]]
					%cs-shop-add-to-cart(item_id="[[item_id]]")
					%span.cs-text-lead [[concat('(', in_stock, ' in stock)')]]
				%content(select="#description")
	%script(src="script.js")
