dom-module(id="cs-shop-category-item")
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		#content.cs-margin-top
			div
				a(href="[[href]]")
					img#img
			div
				content(select="h1")
				p
					span.cs-text-primary.cs-text-lead [[price]]
					= ' '
					cs-shop-add-to-cart(item_id="[[item_id]]")
					= ' '
					span.cs-text-lead ([[L.shop_in_stock]]: [[in_stock]])
				content(select="#description")
	script(src="script.js")
