dom-module#cs-system-admin-themes
	template
		style(include="advanced-styles")
		table.cs-table(center list)
			tr
				th [[L.theme_name]]
				th [[L.state]]
				th [[L.action]]
			template(is="dom-repeat" items="[[themes]]" as="theme")
				tr(class$="[[theme.class]]")
					td [[theme.name]]
					td
						cs-icon(icon="[[theme.icon]]")
						cs-button(compact tooltip="[[L.information_about_theme]]" hidden="[[!theme.readme]]"): button(type="button")
							cs-icon(icon="book")
						section(is="cs-section-modal" content="[[theme.readme.content]]")
						= ' '
						cs-button(compact tooltip="[[L.license]]" hidden="[[!theme.license]]"): button(type="button")
							cs-icon(icon="legal")
						section(is="cs-section-modal" content="[[theme.license.content]]")
					td(left)
						a(is="cs-link-button" icon="check" on-tap="_set_current" compact hidden="[[equal(theme.name, current_theme)]]") [[L.set_current_theme]]
						= ' '
						a(is="cs-link-button" icon="trash" on-tap="_remove_completely" tooltip="[[L.complete_theme_removal]]" hidden="[[!theme.can_delete]]")
		p
			cs-input-text(compact tight): input(type="file" id="file")
			cs-button: button(type="button" on-tap="_upload")
				cs-icon(icon="upload")
				|  [[L.upload_and_install_update_theme]]
	script(src="script.js")
