<h3 style="text-align: center;">Plupload - Cross browser and platform uploader API</h3>
<h3 style="text-align: center;">Integration of Plupload into CleverStyle CMS for files uploading, adds files uploading functionality to other modules</h3>

<h4>Integration of files uploading (client-side):</h4>
<p>Integration on client-side is possible through JavaScript function <code>file_upload()</code></p>
<ul>
	<li>
		<h4><code>file_upload(button, success, error, progress, multi)</code></h4>
		<dl>
			<dt>button</dt>
			<dd>
				Element, which should be clicked for files selection (may any element in DOM thee, on created on-fly: <code>$('&lt;button&gt;&lt;/button&gt;')</code> that may be clicked<br>
				Optional
			</dd>
			<dt>success</dt>
			<dd>Function, will be called after successful uploading of all files, accepts one argument <code>files</code> with array of absolute urls of all uploaded files</dd>
			<dt>error</dt>
			<dd>Function, will be called if error occurred in Plupload, accepts one argument <code>error</code> with error text</dd>
			<dt>progress</dt>
			<dd>Function, will be called when file uploading progress changes, accepts 4 arguments <code>percent, size, uploaded_size, name</code> current progress in percents, total file size, size of uploaded part and file name</dd>
			<dt>multi</dt>
			<dd>If specified and <code>true</code> - selection of several files will be possible</dd>
		</dl>
		<p>Example (TinyMCE plugin):</p>
		<pre>cs.file_upload ? function (field_name) {
	if (!tinymce.uploader_dialog) {
		tinymce.uploader_dialog		= $('&lt;div title="Uploading..." class="cs-center"&gt;&lt;/div&gt;')
			.html('&lt;div style="margin-left: -10%; width: 20%;"&gt;&lt;div class="uk-progress uk-progress-striped uk-active"&gt;&lt;div class="uk-progress-bar"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;')
			.appendTo('body')
			.cs().modal()
			.css('z-index', 100000);
	}
	var uploader	= cs.file_upload(
		null,
		function (files) {
			tinymce.uploader_dialog.cs().modal('hide');
			if (files.length) {
				$('#' + field_name).val(files[0]);
			}
		},
		function (error) {
			tinymce.uploader_dialog.cs().modal('hide');
			alert(error);
		},
		function (file) {
			tinymce.uploader_dialog.find('.uk-progress-bar').width((file.percent ? file.percent : 1) + '%');
			tinymce.uploader_dialog.cs().modal('show');
		}
	);
	uploader.browse();
	/**
	 * Destroy uploader instance on upload dialog closing
	 */
	var destroy_uploader = setInterval(function () {
		if (!$('#mce-modal-block').length) {
			uploader.destroy();
			clearInterval(destroy_uploader);
		}
	}, 1000);
} : null</pre>
	</li>
</ul>

<h4>Integration of files uploading (server-side):</h4>
<p>On server side any module should confirm files uploading by adding tag to uploaded file (and should delete tag, when file is not used any more).</p>
<p>Confirmation is realized with 2 triggers, that third-party components may run. Also, any uploaded file may have several triggers</p>
<ul>
	<li>
		<h4>System/upload_files/add_tag</h4>
		<pre>[
	'url'	=> <i>url</i>	//Required
	'tag'	=> <i>tag</i>	//Required
]</pre>
		<dl>
			<dt>url</dt>
			<dd>Absolute url to uploaded file, obtained on client-side</dd>
			<dt>tag</dt>
			<dd>Tag of item, which will be associated with this file</dd>
		</dl>
		<p>Example (Blogs module):</p>
		<pre>preg_match_all('/"(http[s]?:\/\/.*)"/Uims', $data['content'], $old_files);
preg_match_all('/"(http[s]?:\/\/.*)"/Uims', $content, $new_files);
$old_files	= isset($old_files[1]) ? $old_files[1] : [];
$new_files	= isset($new_files[1]) ? $new_files[1] : [];
if ($old_files || $new_files) {
	foreach (array_diff($old_files, $new_files) as $file) {
		\cs\Trigger::instance()->run(
			'System/upload_files/del_tag',
			[
				'tag'	=> "Blogs/posts/$id/$L->clang",
				'url'	=> $file
			]
		);
	}
	unset($file);
	foreach (array_diff($new_files, $old_files) as $file) {
		\cs\Trigger::instance()->run(
			'System/upload_files/add_tag',
			[
				'tag'	=> "Blogs/posts/$id/$L->clang",
				'url'	=> $file
			]
		);
	}
	unset($file);
}
unset($old_files, $new_files);</pre>
		<p>This code compares previous version of post and current for links, removes old files, and adds new ones.</p>
		<p>Links that doesn't corresponds to any existed files will be ignored automatically.</p>
	</li>
	<li>
		<h4>System/upload_files/del_tag</h4>
		<pre>[
	'url'	=> <i>url</i>	//Optional
	'tag'	=> <i>tag</i>	//Optional
]</pre>
		<dl>
			<dt>url</dt>
			<dd>Absolute url to uploaded file, obtained on client-side</dd>
			<dt>tag</dt>
			<dd>Tag of item, which will be associated with this file, "%" symbol may be used at the end of string to delete all files, that starts from specified string</dd>
		</dl>
		<p>Example (Blogs module):</p>
		<pre>\cs\Trigger::instance()->run(
	'System/upload_files/del_tag',
	[
		'tag'	=> "Blogs/posts/$id%"
	]
);</pre>
		<p>This code deletes all links, associated with post on any language.</p>
	</li>
</ul>