dom-module#cs-system-admin-users-edit-bot-form
	template
		style(include="advanced-styles")
		h2.cs-text-center(hidden="[[user_data.id]]")
			cs-icon(icon="spinner" spin)
		template(is="dom-if" if="[[user_data.id]]")
			form(is="cs-form")
				label [[L.bot_name]]
				input(is="cs-input-text" type="text" value="{{user_data.username}}")
				label(tooltip="[[L.bot_user_agent_info]]")
					[[L.bot_user_agent]]
					cs-tooltip
				input(is="cs-input-text" type="text" value="{{user_data.login}}")
				label(tooltip="[[L.bot_ip_info]]")
					[[L.bot_ip]]
					cs-tooltip
				input(is="cs-input-text" type="text" value="{{user_data.email}}")
				label [[L.status]]
				nav(is="cs-nav-button-group")
					label(is="cs-label-button" value="{{user_data.status}}")
						input(checked="[[equal(user_data.status, -1)]]" type="radio" value="-1")
						[[L.is_not_activated]]
					label(is="cs-label-button")
						input(checked="[[equal(user_data.status, 0)]]" type="radio" value="0")
						[[L.inactive]]
					label(is="cs-label-button")
						input(checked="[[equal(user_data.status, 1)]]" type="radio" value="1")
						[[L.active]]
				div
					button(is="cs-button" type="button" primary on-tap="save" disabled="[[!can_save]]") [[L.save]]
	script(src="script.js")
