%dom-module(id="cs-system-admin-users-edit-bot-form")
	%template
		%h2.cs-text-center(hidden$="[[user_data.id]]")
			%cs-icon(icon="spinner" spin)
		%template(is="dom-if" if="[[user_data.id]]")
			.uk-form.uk-form-stacked
				%label.uk-form-label [[L.bot_name]]
				%input(is="cs-input-text" type="text" value="{{user_data.username}}")/
				%label.uk-form-label(tooltip="[[L.bot_user_agent_info]]")
					%span [[L.bot_user_agent]]
					%cs-tooltip
				%input(is="cs-input-text" type="text" value="{{user_data.login}}")/
				%label.uk-form-label(tooltip="[[L.bot_ip_info]]")
					%span [[L.bot_ip]]
					%cs-tooltip
				%input(is="cs-input-text" type="text" value="{{user_data.email}}")/
				%label.uk-form-label [[L.status]]
				%label(is="cs-label-button" value="{{user_data.status}}")
					%input(checked="[[equal(user_data.status, -1)]]" type="radio" value="-1")/
					%span [[L.is_not_activated]]
				%label(is="cs-label-button")
					%input(checked="[[equal(user_data.status, 0)]]" type="radio" value="0")/
					%span [[L.inactive]]
				%label(is="cs-label-button")
					%input(checked="[[equal(user_data.status, 1)]]" type="radio" value="1")/
					%span [[L.active]]
				%p
					%button(is="cs-button" primary on-click="save" disabled$="[[!can_save]]") [[L.save]]
	%script(src="script.js")
