dom-module#cs-system-registration
	template
		custom-style: style(include="advanced-styles").
		cs-form: form(on-submit="_registration")
			h3 [[L.registration]]
			label
				cs-input-text: input#email(placeholder="Email" type="email" autocorrect="off")
			cs-button(primary): button(type="submit") [[L.registration]]
	script(src="script.js")
