dom-module#cs-blogs-post
	link(rel="import" href="style.css" type="css")
	template
		style(include="basic-styles")
		header
			a(is="cs-link-button" icon="pencil" href="/Blogs/edit_post/[[jsonld.id]]" tooltip="[[L.edit]]" hidden="[[!can_edit]]")
			= ' '
			button(is="cs-button" type="button" icon="trash" on-tap="_delete" tooltip="[[L.delete]]" hidden="[[!can_delete]]")
			h1 [[jsonld.title]]
			template(is="dom-if" if="[[jsonld.articleSection.length]]")
				p
					cs-icon(icon="bookmark")
					template(is="dom-repeat" items="[[jsonld.articleSection]]" as="section")
						[[if(index, '\, ', ' ')]]
						a(href="[[sections_path(index)]]") [[section]]
		div(inner-h-t-m-l="[[jsonld.content]]")
		footer
			template(is="dom-if" if="[[jsonld.tags.length]]")
				p
					cs-icon(icon="tags")
					template(is="dom-repeat" items="[[jsonld.tags]]" as="tag")
						[[if(index, '\, ', ' ')]]
						a(href="[[tags_path(index)]]" rel="tag") [[tag]]
			hr
			p
				time [[jsonld.datetime]]
				= ' '
				cs-icon(icon="user")
				= ' '
				[[jsonld.author.name]]
				= ' '
				template(is="dom-if" if="[[show_comments]]")
					cs-icon(icon="comments")
					= ' '
					cs-comments-count(module="Blogs" item="[[jsonld.id]]")
		template(is="dom-if" if="[[show_comments]]")
			cs-comments(module="Blogs" item="[[jsonld.id]]")
	script(src="script.js")
