dom-module#cs-blogs-post
	template
		style(include="basic-styles")
		header
			a(is="cs-link-button" icon="pencil" href="/Blogs/edit_post/[[jsonld.id]]" tooltip="[[L.edit]]" hidden="[[!can_edit]]")
			= ' '
			a(is="cs-link-button" icon="trash" href="/admin/Blogs/delete_post/[[jsonld.id]]" tooltip="[[L.delete]]" hidden="[[!can_delete]]")
			h1 [[jsonld.title]]
			template(is="dom-if" if="[[jsonld.articleSection.length]]")
				p
					cs-icon(icon="bookmark")
					= ' '
					template(is="dom-repeat" items="[[jsonld.articleSection]]" as="section")
						a(href="[[sections_path(index)]]") [[section]]
		#content
		footer
			template(is="dom-if" if="[[jsonld.tags.length]]")
				p
					cs-icon(icon="tags")
					= ' '
					template(is="dom-repeat" items="[[jsonld.tags]]" as="tag")
						a(href="[[tags_path(index)]]" rel="tag") [[tag]]
			hr
			p
				time [[jsonld.datetime]]
				= ' '
				cs-icon(icon="user")
				= ' '
				[[jsonld.author.name]]
				= ' '
				template(is="dom-if" if="[[comments_enabled]]")
					cs-icon(icon="comments")
					= ' '
					[[jsonld.comments_count]]
	script(src="script.js")
