%dom-module(id="cs-shop-add-to-cart")
	%link(rel="import" href="style.css" type="css")
	%template
		.uk-button-group(hidden$="[[!in_cart]]")
			%button.uk-button.uk-button-primary(on-click="add" type="button") [[L.shop_add_to_cart]]
			%a#in_cart.uk-button(href="/Shop/cart" title="[[L.shop_already_in_cart]]") [[in_cart]]
		%button.uk-button.uk-button-primary(on-click="add" type="button" hidden$="[[and(in_cart)]]") [[L.shop_add_to_cart]]
	%script(src="script.js")
