<h3 style="text-align: center;">Comments module, adds comments functionality to other modules</h3>
<h4>To show comments list insert following snippet anywhere on page:</h4>
<pre>&lt;cs-comments module="Blogs" item="$id"&gt;&lt;/cs-comments&gt;</pre>
<p>Where <code>$id</code> is integer identifier of article, page or anything else, that will be commented and <code>Blogs</code> is module name.</p>
<h4>To show comments number insert following snippet anywhere on page:</h4>
<pre>&lt;cs-comments-count module="Blogs" item="$id"&gt;&lt;/cs-comments-count&gt;</pre>
<h4>Integration of comments adding, editing, and deletion.</h4>
<p>For this module MUST support next events on comments module:</p>
<ul>
	<li>
		<h4>api/Comments/add</h4>
		<pre>[
	'item'		=> <i>item</i>
	'module'	=> <i>module</i>
	'allow'		=> <i>&$allow</i>
]</pre>
		<dl>
			<dt>item</dt>
			<dd>Item id</dd>
			<dt>module</dt>
			<dd>Module</dd>
			<dt>allow</dt>
			<dd>Whether to allow or not</dd>
		</dl>
		<p>Module should subscribe to this event and if <i>module</i> parameter is equal to name of this module - check, whether user have access to add comments and set <code>$allow</code> accordingly.</i></p>
		<p>Example (Blogs module):</p>
		<pre>\cs\Event::instance()->on(
	'api/Comments/add',
	function ($data) {
		$User	= \cs\User::instance();
		if (
			$data['module'] == 'Blogs' &&
			\cs\Config::instance()->module('Blogs')->enable_comments &&
			$User->user() &&
			\cs\modules\Blogs\Posts::instance()->get($data['item'])
		) {
			$data['allow'] = true;
			return false;
		}
	}
);</pre>
	</li>
	<li>
		<h4>api/Comments/edit</h4>
		<pre>[
	'id'		=> <i>id</i>
	'user'		=> <i>user_id</i>
	'item'		=> <i>item</i>
	'module'	=> <i>module</i>
	'allow'		=> <i>&$allow</i>
]</pre>
		<dl>
			<dt>id</dt>
			<dd>Comment id</dd>
			<dt>user</dt>
			<dd>User id</dd>
			<dt>item</dt>
			<dd>Item id</dd>
			<dt>module</dt>
			<dd>Module</dd>
			<dt>allow</dt>
			<dd>Whether to allow or not</dd>
		</dl>
		<p>Module should subscribe to this event and if <i>module</i> parameter is equal to name of this module - check, whether user have access to edit comment and set <code>$allow</code> accordingly.</p>
		<h4>If user have access</h4>
		<p>Example (Blogs module):</p>
		<pre>\cs\Event::instance()->on(
	'api/Comments/edit',
	function ($data) {
		$User	= \cs\User::instance();
		if (
			$data['module'] == 'Blogs' &&
			\cs\Config::instance()->module('Blogs')->enable_comments &&
			$User->user() &&
			($data['user'] == $User->id || $User->admin())
		) {
			$data['allow'] = true;
			return false;
		}
	}
);</pre>
	</li>
	<li>
		<h4>api/Comments/delete</h4>
		<pre>[
	'id'			=> <i>id</i>
	'user'			=> <i>user_id</i>
	'item'			=> <i>item</i>
	'module'		=> <i>module</i>
	'allow'			=> <i>&$allow</i>
]</pre>
		<dl>
			<dt>id</dt>
			<dd>Comment id</dd>
			<dt>user</dt>
			<dd>User id</dd>
			<dt>item</dt>
			<dd>Item id</dd>
			<dt>module</dt>
			<dd>Module</dd>
			<dt>allow</dt>
			<dd>Whether to allow or not</dd>
		</dl>
		<p>Module should subscribe to this event and if <i>module</i> parameter is equal to name of this module - check, whether user have access to delete comment and set <code>$allow</code> accordingly.</p>
		<p>Example (Blogs module):</p>
		<pre>\cs\Event::instance()->on(
	'api/Comments/delete',
	function ($data) {
		$User	= \cs\User::instance();
		if (
			$data['module'] == 'Blogs' &&
			\cs\Config::instance()->module('Blogs')->enable_comments &&
			$User->user() &&
			($data['user'] == $User->id || $User->admin())
		) {
			$data['allow'] = true;
			return false;
		}
	}
);</pre>
	</li>
</ul>
