dom-module#cs-blockchain-payment-pay
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		.cs-text-center
			h1 [[description]]
			#qr
			h3 [[text]]
			h3
				cs-icon(icon="spinner" spin)
				= ' '
				[[progress_text]]
	script(src="script.js")
