dom-module#cs-shop-order
	template
		style(include="advanced-styles")
		.cs-text-lead
			| [[order_number]]: [[order_status]]
			template(is="dom-if" if="[[show_pay_now]]")
				cs-button(primary): button(on-tap="pay" type="button") [[L.pay_now]]
		div [[date_formatted]]
		content(select="#items")
		p [[L.shop_shipping_type]]: [[shipping_type]] ([[shipping_cost_formatted]])
		p [[L.shop_total_price]]: [[total_price_formatted]]
		p(hidden="[[!discount_formatted]]") [[L.shop_discount]]: [[discount_formatted]]
		p [[L.shop_shipping_cost]]: [[shipping_cost_formatted]]
		p.cs-text-bold [[L.shop_for_payment]]: [[for_payment_formatted]]
		p(hidden="[[!phone]]")
			| [[L.shop_phone]]:
			= ' '
			span#phone
		p(hidden="[[!address]]")
			| [[L.shop_address]]:
			= ' '
			span#address
		blockquote#comment
		hr
	script(src="script.js")
