dom-module#cs-system-admin-groups-form
	template
		form(is="cs-form")
			template(is="dom-if" if="[[group_id]]")
				label id
				cs-input-text: input(readonly value="[[group_id]]")
			label [[L.group_name]]
			cs-input-text: input(type="text" value="{{group_title}}")
			label [[L.group_description]]
			cs-input-text: input(type="text" value="{{group_description}}")
			div
				cs-button(primary): button(type="button" on-tap="save" disabled="[[!group_title]]") [[L.save]]
	script(src="script.js")
