%dom-module(id="cs-shop-cart")
	%template
		%h1.cs-text-center [[L.shop_your_cart]]
		%content(select="#items")
		%form.cs-margin-top(is="cs-form")
			%label [[L.shop_shipping_type]]
			%div
				%select(is="cs-select" value="{{shipping_type}}")
					%template(is="dom-repeat" items="[[shipping_types]]" as="type")
						%option(value="[[type.id]]" selected$="[[equal(type.id, shipping_type)]]") [[type.title]]
				%span [[concat('(', shipping_cost_formatted, ')')]]
			.cs-margin-bottom(hidden$="[[!shipping_type_details.description]]") [[shipping_type_details.description]]
			%label [[L.shop_shipping_username]]
			%input(is="cs-input-text" type="text" value="{{shipping_username}}")/
			%label(hidden$="[[!equal(shipping_type_details.phone_needed, 1)]]") [[L.shop_shipping_phone]]
			%input(is="cs-input-text" type="text" value="{{phone}}")/
			%label(hidden$="[[!equal(shipping_type_details.address_needed, 1)]]") [[L.shop_shipping_address]]
			%textarea(is="cs-textarea" autosize value="{{address}}")
			%label [[L.shop_comment]]
			%textarea(is="cs-textarea" autosize value="{{comment}}")
			%label(hidden$="[[equal(payment_methods.length, 1)]]") [[L.shop_payment_method]]
			%select(is="cs-select" value="{{payment_method}}")
				%template(is="dom-repeat" items="[[payment_methods]]" as="details")
					%option(value="[[details.method]]") [[details.title]]
			#payment_method_description.cs-margin-bottom
			%div
				%template(is="dom-if" if="[[!registration_required]]")
					%button(is="cs-button" primary on-click="finish_order" type="button") [[L.shop_finish_order]]
				%template(is="dom-if" if="[[registration_required]]")
					%p.cs-block-warning.cs-text-warning [[L.shop_register_to_finish_order]]
					%button(is="cs-button" disabled type="button") [[L.shop_finish_order]]
	%script(src="script.js")
