custom-style: style.
	body {
		@apply --cs-modal-body;
	}

	body[modal-opened] {
		overflow : hidden;

		@apply --cs-modal-body-open;
	}
dom-module#cs-modal
	link(href="style.css" rel="import" type="css")
	template
		#overlay(on-tap="_overlay_tap")
		#content
			slot
	script(src="script.js")
