include ../_settings_mixins
dom-module#cs-system-admin-users-general
	template
		style(include="advanced-styles")
		form.cs-text-center(is="cs-form")
			+input("session_expire", null, "number", 1)
			= ' '
			[[L.seconds]]
			+input("sign_in_attempts_block_count", null, "number")
			+input("sign_in_attempts_block_time", "equal(settings.sign_in_attempts_block_count, 0)", "number", 1)
			span(hidden="[[equal(settings.sign_in_attempts_block_count, 0)]]")
				= ' '
				[[L.seconds]]
			+on-off-switcher("remember_user_ip")
			+input("password_min_length", null, "number", 4)
			+input("password_min_strength", null, "number", 0, 7)
			+on-off-switcher("allow_user_registration")
			+on-off-switcher("require_registration_confirmation", "equal(settings.allow_user_registration, 0)")
			+input("registration_confirmation_time", "!registration_with_confirmation", "number", 1)
			span(hidden="[[!registration_with_confirmation]]")
				= ' '
				[[L.days]]
			+on-off-switcher("auto_sign_in_after_registration", "!registration_with_confirmation")
			+editor("rules", true)
			+footer-buttons
	script(src="script.js")
