<h3 style="text-align: center;">Uploader - module that adds files uploading functionality to other modules</h3>

<h4>Integration of files uploading (client-side):</h4>
<p>Integration on client-side is possible through JavaScript function <code>cs.file_upload()</code></p>
<ul>
	<li>
		<h4><code>cs.file_upload(button, success, error, progress, multi, drop_element)</code></h4>
		<dl>
			<dt>button</dt>
			<dd>
				Element, which should be clicked for files selection (may any element in DOM thee, or created on-fly: <code>$('&lt;button&gt;&lt;/button&gt;')</code>, both DOM Node and jQuery object that can be clicked<br>
				Optional
			</dd>
			<dt>success</dt>
			<dd>Function, will be called after successful uploading of all files, accepts one argument <code>files</code> with array of absolute urls of all uploaded files</dd>
			<dt>error</dt>
			<dd>Function, will be called if error occurred in Uploader, accepts 3 arguments <code>error, xhr, file</code> with error text, xhr object and file object being uploaded</dd>
			<dt>progress</dt>
			<dd>Function, will be called when file uploading progress changes, accepts 9 arguments <code>percent, size, uploaded_size, name, total_percent, total_size, total_uploaded, current_file, total_files</code> current progress in percents, total file size, size of uploaded part, file name, total percents, size and uploaded size (useful when multiple files being uploaded) and currently uploading file number and total number of files to be uploaded.</dd>
			<dt>multi</dt>
			<dd>If specified and <code>true</code> - selection of several files will be possible</dd>
			<dt>drop_element</dt>
			<dd>If specified - it will be possible to drop file on specified element to start file uploading; if not specified - <code>button</code> assumed</dd>
		</dl>
		<p>Example (TinyMCE plugin, LiveScript):</p>
		<pre>uploader_callback	= undefined
button				= document.createElement('button')
uploader			= cs.file_upload?(
	button
	(files) !->
		tinymce.uploader_dialog?.close()
		if files.length
			uploader_callback(files[0])
		uploader_callback := undefined
	(error) !->
		tinymce.uploader_dialog?.close()
		cs.ui.notify(error, 'error')
	(file) !->
		if !tinymce.uploader_dialog
			progress								= document.createElement('progress', 'cs-progress')
			tinymce.uploader_dialog					= cs.ui.modal(progress)
			tinymce.uploader_dialog.progress		= progress
			tinymce.uploader_dialog.style.zIndex	= 100000
			tinymce.uploader_dialog.open()
		tinymce.uploader_dialog.progress.value = file.percent || 1
)
...
	file_picker_callback	: uploader && (callback) !->
		uploader_callback := callback
		button.click()
...</pre>
	</li>
</ul>
<p><code>cs.file_upload</code> call will return object with 2 methods:</p>
<dl>
	<dt>stop</dt>
	<dd>Will stop uploading</dd>
	<dt>destroy</dt>
	<dd>Will stop uploading and will remove event listeners from <code>button</code> or <code>drop_element</code> elements</dd>
</dl>

<h4>Integration of files uploading (server-side):</h4>
<p>On server side any module should confirm files uploading by adding tag to uploaded file (and should delete tag, when file is not used any more).</p>
<p>Confirmation is realized with 2 triggers, that third-party components may run. Also, any uploaded file may have several triggers</p>
<ul>
	<li>
		<h4>System/upload_files/add_tag</h4>
		<pre>[
	'url' => $url, //Required
	'tag' => $tag  //Required
]</pre>
		<dl>
			<dt>url</dt>
			<dd>Absolute url to uploaded file, obtained on client-side</dd>
			<dt>tag</dt>
			<dd>Tag of item, which will be associated with this file</dd>
		</dl>
		<p>Example (Blogs module):</p>
		<pre>$old_files	= find_links($data['content']);
$new_files	= find_links($content);
if ($old_files || $new_files) {
	foreach (array_diff($old_files, $new_files) as $file) {
		\cs\Event::instance()->fire(
			'System/upload_files/del_tag',
			[
				'tag'	=> "Blogs/posts/$id/$L->clang",
				'url'	=> $file
			]
		);
	}
	unset($file);
	foreach (array_diff($new_files, $old_files) as $file) {
		\cs\Event::instance()->fire(
			'System/upload_files/add_tag',
			[
				'tag'	=> "Blogs/posts/$id/$L->clang",
				'url'	=> $file
			]
		);
	}
	unset($file);
}
unset($old_files, $new_files);</pre>
		<p>This code compares previous version of post and current for links, removes old files, and adds new ones.</p>
		<p>Links that doesn't corresponds to any existed files will be ignored automatically.</p>
	</li>
	<li>
		<h4>System/upload_files/del_tag</h4>
		<pre>[
	'url' => url, //Optional
	'tag' => tag  //Optional
]</pre>
		<dl>
			<dt>url</dt>
			<dd>Absolute url to uploaded file, obtained on client-side</dd>
			<dt>tag</dt>
			<dd>Tag of item, which will be associated with this file, "%" symbol may be used at the end of string to delete all files, that starts from specified string</dd>
		</dl>
		<p>Example (Blogs module):</p>
		<pre>\cs\Event::instance()->fire(
	'System/upload_files/del_tag',
	[
		'tag' => "Blogs/posts/$id%"
	]
);</pre>
		<p>This code deletes all links, associated with post on any language.</p>
	</li>
</ul>
