@import 'imported.css';
@import url('imported.css');
@import "imported-2.css";
@import url("imported-2.css");
@import 'imported.css' screen and (orientation:landscape);
@import url('imported.css') screen and (orientation:landscape);
@import "imported-2.css" screen and (orientation:landscape);
@import url("imported-2.css") screen and (orientation:landscape);

/**
 * Some comment
 */
.some-class {
	background-color : #000000;
	color            : rgb(255, 255, 255); /* another comment */
	transition       : opacity 0.3s, transform 0.5s;;
}

.image {
	background-image : url(image.svg);
}

.image-large {
	background-image : url('image-large.svg');
}

.image-absolute-path {
	background-image : url("/image.svg");
}

.image-query-string {
	background-image : url(image-large-2.svg?xyz);
}

@media (min-width : 960px) and (orientation : landscape) {
	.another-class {
		display : none;
	}
}

