dom-module#cs-static-pages-admin-categories-add-edit-form
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		table.cs-table
			tr
				td [[L.category_title]]
				td
					input(is="cs-input-text" type="text" value="{{category.title}}")
			tr
				td(tooltip="[[L.category_path_info]]")
					| [[L.category_path]]
					cs-tooltip
				td
					input(is="cs-input-text" type="text" value="{{category.path}}")
			tr
				td [[L.parent_category]]
				td
					template(is="dom-if" if="[[categories]]")
						select(is="cs-select" selected="{{category.parent}}" size="7")
							template(is="dom-repeat" items="[[categories]]")
								option(value="[[item.id]]" disabled="[[equal(item.id, category.id)]]") [[item.full_title]]
		button(is="cs-button" on-tap="_save" type="button" primary) [[L.save]]
	script(src="script.js")
