dom-module#cs-comments
	template
		template(is="dom-if" if="[[comments.length]]")
			p [[L.comments]]:
		template(is="dom-if" if="[[!comments.length]]")
			p [[L.no_comments_yet]]
		template(is="dom-repeat" items="[[comments]]")
			cs-comments-comment(comment="[[item]]" id="comment_[[item.id]]" parent-comment="[[_this]]" parent$="[[and(item.children.length)]]")
		template(is="dom-if" if="[[is_user]]")
			p [[L.add_comment]]:
			cs-editor-simple(value="{{text}}")
				cs-textarea(autosize): textarea(value="{{text}}")
			p
				cs-button: button(type="button" on-tap="_send") [[L.send_comment]]
		p(hidden="[[is_user]]") [[L.register_for_comments_sending]]
	script(src="script.js")
