dom-module#cs-blogs-admin-posts-list
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		table.cs-table(center list)
			tr
				th [[L.post_title]]
				th [[L.post_sections]]
				th [[L.post_tags]]
				th [[L.author_date]]
				th [[L.action]]
			template(is="dom-repeat" items="[[posts]]")
				tr
					td
						a(href="/Blogs/[[item.path]]:[[item.id]]" target="_blank") [[item.title]]
					td
						template(is="dom-repeat" items="[[item.sections]]")
							[[if(index, '\, ')]]
							a(href="/Blogs/section/[[item.full_path]]" target="_blank") [[item.title]]
					td
						template(is="dom-repeat" items="[[item.tags]]")
							[[if(index, '\, ')]]
							a(href="/Blogs/tag/[[item]]" target="_blank") [[item]]
					td
						[[item.username]]
						br
						[[item.date_formatted]]
					td
						a(is="cs-link-button" icon="pencil" href="/Blogs/edit_post/[[item.id]]" tooltip="[[L.edit]]")
						= ' '
						button(is="cs-button" icon="trash" type="button" on-tap="_delete" tooltip="[[L.delete]]")
	script(src="script.js")
