dom-module#cs-static-pages-admin-categories-list
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		table.cs-table(list)
			tr
				th [[L.pages_category]]
				th [[L.action]]
			template(is="dom-repeat" items="[[categories]]")
				tr
					td
						a(href="/admin/Static_pages/browse_pages/[[item.id]]") [[item.full_title]]
						a(href="/admin/Static_pages/browse_pages/[[item.id]]")
							span(tooltip="[[L.pages_in_category]]")
								| [[item.pages]]
								cs-tooltip
					td
						cs-button(compact icon="pencil" tooltip="[[L.edit]]" hidden="[[equal(item.id, 0)]]"): button(type="button" on-tap="_edit")
						= ' '
						cs-button(compact icon="trash" tooltip="[[L.delete]]" hidden="[[equal(item.id, 0)]]"): button(type="button" on-tap="_delete")
		p [[L.index_page_path]]
		p
			cs-button: button(type="button" on-tap="_add") [[L.add_category]]
			= ' '
			cs-button: button(type="button" on-tap="_add_page") [[L.add_page]]
	script(src="script.js")
