%dom-module(id="cs-system-admin-permissions-for-item")
	%template
		%nav(is="cs-nav-tabs" selected="{{selected_tab}}")
			%button(is="cs-button") [[L.groups]]
			%button(is="cs-button") [[L.users]]
		%form#form
			%section(is="cs-section-switcher" selected="[[selected_tab]]")
				%div
					%p.cs-left
						%button(is="cs-button" on-click="invert" type="button") [[L.invert]]
						%button(is="cs-button" on-click="allow_all" type="button") [[L.allow_all]]
						%button(is="cs-button" on-click="deny_all" type="button") [[L.deny_all]]
					%cs-table(right-left)
						%h2.uk-text-center(hidden$="[[groups.length]]")
							%cs-icon(icon="spinner" spin)
						%template(is="dom-repeat" items="[[groups]]" as="group")
							%cs-table-row
								%cs-table-cell(tooltip="[[group.description]]")
									%span [[group.title]]
									%cs-tooltip
								%cs-table-cell
									%label(is="cs-label-button")
										%input(type="radio" value="-1" checked="[[group_permission_state(group.id, '-1')]]" name$="[[concat('groups[', group.id, ']')]]")/
										%span [[L.inherited]]
									%label(is="cs-label-button")
										%input(type="radio" value="0" checked="[[group_permission_state(group.id, 0)]]" name$="[[concat('groups[', group.id, ']')]]")/
										%span [[L.deny]]
									%label(is="cs-label-button")
										%input(type="radio" value="1" checked="[[group_permission_state(group.id, 1)]]" name$="[[concat('groups[', group.id, ']')]]")/
										%span [[L.allow]]
				%div
					%p.cs-left
						%button(is="cs-button" on-click="invert" type="button") [[L.invert]]
						%button(is="cs-button" on-click="allow_all" type="button") [[L.allow_all]]
						%button(is="cs-button" on-click="deny_all" type="button") [[L.deny_all]]
					%cs-table#users(right-left)
						%template(is="dom-repeat" items="[[users]]" as="user")
							-# Users list, duplicated below
							%cs-table-row
								%cs-table-cell(tooltip="[[user.email]]")
									%span [[username(user)]]
									%cs-tooltip
								%cs-table-cell
									%label(is="cs-label-button")
										%input(type="radio" value="-1" checked="[[user_permission_state(user.id, '-1')]]" name$="[[concat('users[', user.id, ']')]]")/
										%span [[L.inherited]]
									%label(is="cs-label-button")
										%input(type="radio" value="0" checked="[[user_permission_state(user.id, 0)]]" name$="[[concat('users[', user.id, ']')]]")/
										%span [[L.deny]]
									%label(is="cs-label-button")
										%input(type="radio" value="1" checked="[[user_permission_state(user.id, 1)]]" name$="[[concat('users[', user.id, ']')]]")/
										%span [[L.allow]]
					%input#search(is="cs-input-text" autocomplete="off" placeholder="[[L.type_username_or_email_press_enter]]" type="search")/
					%cs-table#search-results(right-left)
						%template(is="dom-repeat" items="[[found_users]]" as="user")
							-# Users list, duplicated above
							%cs-table-row
								%cs-table-cell(tooltip="[[user.email]]")
									%span [[username(user)]]
									%cs-tooltip
								%cs-table-cell
									%label(is="cs-label-button")
										%input(type="radio" value="-1" checked="[[user_permission_state(user.id, '-1')]]" name$="[[concat('users[', user.id, ']')]]")/
										%span [[L.inherited]]
									%label(is="cs-label-button")
										%input(type="radio" value="0" checked="[[user_permission_state(user.id, 0)]]" name$="[[concat('users[', user.id, ']')]]")/
										%span [[L.deny]]
									%label(is="cs-label-button")
										%input(type="radio" value="1" checked="[[user_permission_state(user.id, 1)]]" name$="[[concat('users[', user.id, ']')]]")/
										%span [[L.allow]]
		%button(is="cs-button" on-click="save" type="button") [[L.save]]
	%script(src="script.js")
