#header_zone {
	height: 30px;
	position: fixed;
	top: 0;
	width: 100%;
}
#header_green, #header_black {
	border-radius: 0 0 10px 10px;
	position: fixed;
	right: 300px;
	top: 0;
	width: inherit;
}
#header_green {
	height: 70px;
	z-index: 2;
}
#header_black {
	height: 115px;
	z-index: 1;
}
#user_header {
	border-radius: 7px;
	height: 100px;
	margin: 5px;
	position: fixed;
	right: 0;
	top: 0;
	width: 280px;
	z-index: 3;
}
#avatar_header {
	border-radius: 5px;
	float: left;
	font-size: 80px;
	height: 80px;
	line-height: 80px;
	margin: 9px;
	position: fixed;
	width: 80px;
	vertical-align: top;
}
#user_info_header {
	float: right;
	height: 90px;
	margin: 12px 9px 9px 95px;
	position: fixed;
	width: 180px;
}
#user_info_header input[type=text], #user_info_header input[type=password], #user_info_header select {
	background: #ddd;
	border: #fff solid 1px;
	float: left;
	margin: 0 0 5px 3px;
	width: 170px;
}
#user_info_header #register, #user_info_header #user_login {
	width: 155px;
}
#user_info_header select {
	margin-left: -5px;
	width: 20px;
}
#login_header_form > .ui-icon {
	margin: 26px 0 0 -20px;
}
#user_info_header button {
	margin-left: 3px;
	float: left;
}
#main-menu, #main-submenu, #menu-more {
	height: 40px;
	left: 0;
	line-height: 32px;
	position: fixed;
	text-align: left;
	top: 0;
	z-index: 3;
}
#main-submenu {
	line-height: 20px;
	top: 40px;
}
#menu-more {
	font-size: 14px;
	line-height: 20px;
	right: 310px;
	top: 70px;
}
#main-menu > a, #main-submenu > a, #menu-more > a {
	border-bottom: none;
	cursor: pointer;
	transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}
#main-menu {
	font-size: 40px;
	margin: 0;
	padding: 5px 0 0 5px;
}
#main-submenu {
	font-size: 24px;
	margin: 0;
	padding: 5px 0 0 5px;
}
#menu-more {
	margin: 0;
	padding: 5px 0 0 10px;
}