body {
	font-family : Tahoma, Verdana, sans-serif;
	font-size   : 11px;
	margin      : 0;
	padding     : 0;
	width       : 100%;
}

#body {
	margin : 7px;
}

#body > table {
	border-radius      : 10px;
	padding            : 5px 0;
	margin-top         : 145px;
	width              : 100%;
}

.admin_form {
	text-align : center;
	width      : 100%;
}

.admin_table {
	margin : auto auto 15px;
	width  : 100%;
}

.admin_table > tbody > tr > td.ui-widget-shadow {
	opacity : 1;
}

td#main_content {
	border-radius      : 7px;
	padding            : 10px;
	vertical-align     : top;
}

td#main_content > section > article > div {
	border-radius      : 5px;
	padding            : 10px;
	height             : 100%;
}

a {
	text-decoration : none;
}
/*
a:hover {
	border-bottom-style : solid;
}

a[href='#'] {
	border-bottom-style : none;
}

a:hover[href='#'] {
	border-bottom-style : inherit;
}

a[target="_blank"]::after,
a[target="_new"]::after {
	content : "↑";
}

a[href^="http://"]::after {
	content : "↗";
}*/

.form_element,
.form_element:hover,
.form_element:focus {
	border             : solid 2px;
	border-radius      : 5px;
	border-spacing     : 0;
	padding            : 3px;
}

input,
textarea,
select {
	outline : none;
}

.admin_table input[type=number],
.admin_table input[type=range] {
	width : 90px;
}

.admin_table input[type=text],
.admin_table input[type=password],
.admin_table input[type=email],
.admin_table input[type=tel] {
	width : 250px;
}

#users_raw_edit textarea,
#users_edit textarea{
	width: 250px;
}

textarea {
	overflow-x  : auto;
	height      : 5em;
	white-space : nowrap;
}

button.compact > span,
input[type=button].compact > span {
	padding : 2px 3px !important;
}

header,
footer {
	width      : 100%;
	text-align : center;
	margin     : 0;
	padding    : 0;
}

.for_state_messages {
	padding    : 5px;
}

.background {
	position : absolute;
	z-index  : -100;
}

/*a.nul,
a.nul:hover,
a.nul:active,
a.nul:visited {
	border-bottom-style : none;
}*/

.dialog {
	display : none;
}

.blocks_items {
	list-style-type : none;
	margin          : 0;
	padding         : 5px;
}

.blocks_items li {
	cursor  : move;
	margin  : 0 5px 5px 5px;
	padding : 5px;
}

.info {
	/*cursor : help;*/
}

.storages_config_buttons,
.modules_config_buttons button,
.db_config_buttons button,
.db_config_buttons_ button,
.plugins_config_buttons button,
.storages_config_buttons button,
#apply_settings,
#save_settings,
#cancel_settings,
#reset_settings,
#system_readme_open,
#system_license_open,
#user_info_header button {
	cursor : pointer;
}

.dialog {
	display : none;
}

#login_slide,
#registration_slide {
	float      : none !important;
	margin-top : 4px !important;
}

.header_back,
.restore_password {
	float : right !important;
}

#register_header_form .header_back,
#register_header_form .restore_password {
	margin-top : 4px !important;
}

.center_odd > tbody > tr > td:nth-child(odd),
.center_even > tbody > tr > td:nth-child(even),
.center_all > tbody > tr > td,
tr.center_all > td,
td.center_all {
	text-align     : center;
	vertical-align : middle;
	padding        : 2px;
}

td.center_all {
	text-align : center !important;
}

.center {
	text-align: center;
}

.right_odd > tbody > tr > td:nth-child(odd),
.right_even > tbody > tr > td:nth-child(even),
.right_all > tbody > tr > td,
tr.right_all > td,
td.right_all {
	text-align     : right;
	vertical-align : top;
	padding        : 2px;
}

td.right_all {
	text-align : right !important;
}
.right {
	text-align: right;
}

.left_odd > tbody > tr > td:nth-child(odd),
.left_even > tbody > tr > td:nth-child(even),
.left_all > tbody > tr > td,
tr.left_all > td,
td.left_all {
	text-align     : left;
	vertical-align : top;
	padding        : 2px;
}

td.left_all {
	text-align : left !important;
}

.left {
	text-align: left;
}

.blocks_items_title {
	float        : left;
	width        : 100%;
	margin-right : -40px;
}

.blocks_items_title+a,
.blocks_items_title+a+a {
	cursor  : pointer;
	display : inline-block;
}

.blocks_items_groups {
	width : 33%;
}

.modules_config_buttons,
.db_config_buttons {
	text-align : left !important;
}

.db_config_buttons_ {
	text-align : right !important;
}

.test_result {
	text-align     : center;
	text-transform : capitalize;
}

.db_add input,
.block_add input[type=text],
.storage_add input {
	width : auto !important;
}

.php_components,
.sql_properties,
.php_ini_settings {
	width : 100%;
}

#debug_form, .padding_left {
	padding-left : 20px;
}

#system_config_routing td,
#system_config_replace td {
	width : 50%;
}

#system_config_routing td textarea,
#system_config_replace td textarea {
	width : 90%;
}

#site_info_config_mirrors td:nth-child(1) {
	width : 40%;
}

#site_info_config_mirrors td:nth-child(2) {
	width : 30%;
}

#site_info_config_mirrors td:nth-child(3) {
	width : 20%;
}

#site_info_config_mirrors textarea {
	width : 90%;
}

#test_progress {
	width : 100%;
}

.code_debug {
	border-left  : 1px solid;
	display      : block;
	margin       : 10px 5px 10px 20px;
	padding-left : 10px;
	text-align   : left;
}

code {
	font-family : "DejaVu Sans Mono", "Courier New", monospace;
}

#debug_queries {
	word-wrap : break-word;
}
