dom-module#cs-system-admin-modules-list
	template
		style(include="advanced-styles")
		table.cs-table(center list)
			tr
				th [[L.module_name]]
				th [[L.state]]
				th [[L.action]]
			template(is="dom-repeat" items="[[modules]]" as="module")
				tr(class$="[[module.class]]")
					td
						a(href="/admin/[[module.name]]" hidden="[[!module.administration]]" tooltip="[[module.info]]")
							| [[module.name_localized]]
							cs-tooltip
						span(hidden="[[module.administration]]" tooltip="[[module.info]]")
							| [[module.name_localized]]
							cs-tooltip
					td
						cs-icon(icon="[[module.icon]]" tooltip="[[module.icon_text]]")
						= ' '
						template(is="dom-if" if="[[module.api]]")
							cs-icon(icon="link" hidden="[[module.api.type]]" tooltip="[[L.api_exists]]")
							cs-button(compact icon="link" hidden="[[!module.api.type]]" tooltip="[[L.api_exists]]"): button(type="button")
							section(is="cs-section-modal" content="[[module.api.content]]")
						= ' '
						cs-button(compact icon="book" hidden="[[!module.readme]]" tooltip="[[L.information_about_module]]"): button(type="button")
						section(is="cs-section-modal" content="[[module.readme.content]]")
						= ' '
						cs-button(compact icon="legal" hidden="[[!module.license]]" tooltip="[[L.license]]"): button(type="button")
						section(is="cs-section-modal" content="[[module.license.content]]")
					td(left)
						cs-button(compact icon="home" hidden="[[!module.can_be_set_as_default]]" tooltip="[[L.make_default_module]]"): button(type="button" on-tap="_set_as_default")
						= ' '
						cs-button(compact icon="database" hidden="[[!module.db_settings]]" tooltip="[[L.databases]]"): button(type="button" on-tap="_db_settings")
						= ' '
						cs-button(compact icon="hdd-o" hidden="[[!module.storage_settings]]" tooltip="[[L.storages]]"): button(type="button" on-tap="_storage_settings")
						= ' '
						cs-link-button(compact hidden="[[!module.administration]]" icon="sliders" tooltip="[[L.module_admin_page]]"): a(href="/admin/[[module.name]]")
						= ' '
						cs-button(compact icon="minus" hidden="[[!module.can_disable]]" tooltip="[[L.disable]]"): button(type="button" on-tap="_disable")
						= ' '
						cs-button(compact hidden="[[!equal(module.active, 0)]]" icon="check"): button(type="button" on-tap="_enable") [[L.enable]]
						= ' '
						cs-button(compact icon="download" hidden="[[!equal(module.active, -1)]]"): button(type="button" on-tap="_install") [[L.install]]
						= ' '
						cs-button(compact icon="trash" hidden="[[!equal(module.active, 0)]]" tooltip="[[L.uninstall]]"): button(type="button" on-tap="_uninstall")
						= ' '
						cs-button(compact icon="trash" hidden="[[!equal(module.active, -1)]]" tooltip="[[L.complete_module_removal]]"): button(type="button" on-tap="_remove_completely")
		p
			cs-input-text(compact tight): input(type="file" id="file")
			cs-button(icon="upload"): button(type="button" on-tap="_upload") [[L.upload_and_install_update_module]]
		p
			cs-input-text(compact tight): input(type="file" id="file_system")
			cs-button(icon="upload"): button(type="button" on-tap="_upload_system") [[L.upload_and_update_system]]
		p
			cs-button(icon="refresh" tooltip="[[L.update_modules_list_info]]"): button(type="button" on-tap="_update_modules_list") [[L.update_modules_list]]
	script(src="script.js")
