include ../_settings_mixins
dom-module#cs-system-admin-mail
	template
		style(include="advanced-styles")
		form.cs-text-center(is="cs-form")
			+on-off-switcher("smtp")
			label(tooltip="[[L.smtp_host_info]]" hidden="[[!smtp]]")
				[[L.smtp_host]]
				cs-tooltip
			input(is="cs-input-text" value="{{settings.smtp_host}}" hidden="[[!smtp]]")
			label(tooltip="[[L.smtp_port_info]]" hidden="[[!smtp]]")
				[[L.smtp_port]]
				cs-tooltip
			input(is="cs-input-text" type="number" value="{{settings.smtp_port}}" hidden="[[!smtp]]")
			+on-off-switcher("smtp_secure", "[[!smtp]]", ["", "ssl", "tls"], ["[[L.off]]", "SSL", "TLS"])
			+on-off-switcher("smtp_auth", "[[!smtp]]")
			label(tooltip="[[L.smtp_user_info]]" hidden="[[!smtp_auth]]")
				[[L.smtp_user]]
				cs-tooltip
			input(is="cs-input-text" value="{{settings.smtp_user}}" hidden="[[!smtp_auth]]")
			label(tooltip="[[L.smtp_password_info]]" hidden="[[!smtp_auth]]")
				[[L.smtp_password]]
				cs-tooltip
			input(is="cs-input-text" value="{{settings.smtp_password}}" hidden="[[!smtp_auth]]")
			label(tooltip="[[L.mail_from_info]]")
				[[L.mail_from]]
				cs-tooltip
			input(is="cs-input-text" type="email" value="{{settings.mail_from}}")
			label(tooltip="[[L.mail_from_name_info]]")
				[[L.mail_from_name]]
				cs-tooltip
			input(is="cs-input-text" value="{{settings.mail_from_name}}")
			label(tooltip="[[L.mail_signature_info]]")
				[[L.mail_signature]]
				cs-tooltip
			cs-editor-simple(value="{{settings.mail_signature}}")
				textarea(is="cs-textarea" autosize value="{{settings.mail_signature}}")
			p
				button(is="cs-button" type="button" icon="signal" on-tap="_test_email") [[L.test_email_sending]]
			+footer-buttons
	script(src="script.js")
