include ../_settings_mixins
dom-module#cs-system-admin-mail
	template
		style(include="advanced-styles")
		form.cs-text-center(is="cs-form")
			+on-off-switcher("smtp")
			+input("smtp_host", "!smtp")
			+input("smtp_port", "!smtp", "number")
			+on-off-switcher("smtp_secure", "!smtp", ["", "ssl", "tls"], ["[[L.off]]", "SSL", "TLS"])
			+on-off-switcher("smtp_auth", "!smtp")
			+input("smtp_user", "!smtp_auth")
			+input("smtp_password", "!smtp_auth")
			+input("mail_from", null, "email")
			+input("mail_from_name")
			+editor("mail_signature", true)
			p
				button(is="cs-button" type="button" icon="signal" on-tap="_test_email") [[L.test_email_sending]]
			+footer-buttons
	script(src="script.js")
