<h3 style="text-align: center;">WebSockets module, provides WebSockets integration into CleverStyle CMS both on server and on client</h3>
<p>WebSockets server is running in background and listen for incoming connections.</p>
<p>It is highly recommended to have working <code>exec()</code> function in PHP (otherwise fallback will be used, but not guaranteed to work) and Nginx should be configured properly (<a href="https://github.com/nazar-pc/CleverStyle-CMS/wiki/Nginx-config-sample">Nginx config sample</a>).</p>
There are two ways to run WebSockets server:
<dl>
	<dt>CLI (recommended): <code>php components/modules/WebSockets/supervisor.php 'php components/modules/WebSockets/start_cli.php https://example.com'</code></dt>
	<dd>Where <code>https://example.com</code> is web-site address</dd>
	<dt>CLI (multiple servers): <code>php components/modules/WebSockets/supervisor.php 'php components/modules/WebSockets/start_cli.php https://example.com wss://server_address'</code></dt>
	<dd>
		Similar to previous, but with additional parameter <code>wss://server_address</code>, where <code>server_address</code> should be an address via which one WebSockets server can reach another, for instance, it can be IP address of the server inside private network, also it might contain port number and path if needed.<br>
		Can be running on as many servers as needed.
	</dd>
	<dt>Web: open <code>https://example.com/WebSockets/security_key</code></dt>
	<dd>Where <code>https://example.com</code> is web-site address, server should be running on every physical server if there are few of them.</dd>
	<dd>And <code>security_key</code> should be replaced by security key from module settings.</dd>
</dl>
<p>Web will automatically switch to CLI if available. Also instead of <code>supervisor.php</code> you can use any other supervisor you like, no details here - you should know what to do.</p>

<h4 style="text-align: center;">Usage on server</h4>
<p>When request comes from client, event <code>WebSockets/message</code> will be dispatched, where <code>action</code> is action that came from user.</p>
<p>Callback will receive as argument array with fields:</p>
<dl>
	<dt><code>action</code></dt>
	<dd>action that came from client</dd>
	<dt><code>details</code></dt>
	<dd>message for action that came from client</dd>
	<dt><code>language</code></dt>
	<dd>to handle multilingual features</dd>
	<dt><code>user</code></dt>
	<dd>user id</dd>
	<dt><code>session</code></dt>
	<dd>session id</dd>
	<dt><code>connection</code></dt>
	<dd>internal connection object (implements <code>\Ratchet\ConnectionInterface</code>)</dd>
</dl>
<p>NOTE: There is two specific system actions:</p>
<dl>
	<dt>Client/authentication</dt>
	<dd>Is generated when user passes authentication, useful as real connection event when we know who is actually connected</dd>
	<dt>Client/disconnection</dt>
	<dd>Is generated when connection to client closes by any reason</dd>
</dl>
<p>To send response back to client (or clients) <code>\cs\modules\WebSockets\Server::instance()->send_to_clients($action, $details, $response_to, $target = false)</code> method is used</p>
<p>Example:</p>
<pre>
	<code language="php">
&lt;?php
use
	cs\Event,
	cs\modules\WebSockets\Server;
// Register actions
Event::instance()->on('WebSockets/message', function ($data) {
	if ($data['action'] !== 'hello') {
		return;
	}
	$Server = Server::instance();
	// Send `hello` action back to the same user with the same content
	if ($data['details']) {
		$Server->send_to_clients(
			'hello',
			$data['details'],
			Server::SEND_TO_SPECIFIC_USERS,
			$data['user'] // Back to the same user
		);
	} else {
		$Server->send_to_clients(
			'hello:error',
			$Server->compose_error(
				400,
				'No hello message:('
			),
			Server::SEND_TO_SPECIFIC_USERS,
			$data['user'] // Back to the same user
		);
	}
});
?>
	</code>
</pre>
<p><code>::send_to_clients()</code> method may be called anywhere, even on regular pages (for example, after AJAX request or just on page opening), also client will receive message even if he is connected to another server or have multiple tabs opened - response will be delivered to each tab.</p>
<p>Is response should represent error, <code>:error</code> suffix should be added to action and <code>::compose_error()</code> method is used to compose generic error response if necessary.</p>

<h4 style="text-align: center;">Usage on client</h4>
<p>If module depends on <code>WebSockets</code> module - connection with server will be established automatically and <code>cs.WebSockets</code> object will become available with next methods:</p>
<dl>
	<dt><code>on(action, success, error)</code></dt>
	<dd>Handler of server responses.</dd>
	<dd><code>action</code> - action from server, <code>success</code> and <code>error</code> are optional, you may specify any of them if you need</dd>
	<dd><code>details</code> from server will be passed into corresponding callback (if <code>details</code> is array - each element will be passed as separate argument</dd>
	<dt><code>off(action, success, error)</code></dt>
	<dd>Similar to <code>on</code>, but removes handler (it is possible to remove <code>success</code> or <code>error</code> handler only, both parameters are optional</dd>
	<dt><code>once(action, success, error)</code></dt>
	<dd>Similar to <code>on</code>, but removes handler after handling of first response</dd>
	<dt><code>send(action, details)</code></dt>
	<dd>Will send data to server</dd>
</dl>
<p>Example:</p>
<pre>
	<code language="javascript">
// Since everything is asynchronous - lets add handler first
cs.WebSockets.once('hello', function (message) {
	alert(message);
});
// Now send request to server
cs.WebSockets.send('hello', 'Hello, world!');
	</code>
</pre>
