%dom-module(id="cs-shop-item")
	%link(rel="import" href="style.css" type="css")
	%template
		%h1 [[header_title]]
		#content
			%div
				#images
			#div.cs-padding-left
				%p
					%span.uk-text-primary.uk-text-large [[price]]
					%cs-shop-add-to-cart(item_id="[[item_id]]")
					%span.uk-text-large [[concat('(', in_stock, ' in stock)')]]
				%content(select="#description")
		%template(if="[[show_attributes]]")
			%h2.cs-margin-top [[L.shop_characteristics]]
			%content(select="#attributes")
	%script(src="script.js")
