%dom-module(id="cs-shop-item")
	%template
		.uk-grid.uk-grid-divider.uk-grid-small.uk-grid-width-1-2
			%h1.uk-margin-bottom.uk-width-1-1 [[header_title]]
			#images
			.uk-width-1-2
				%p
					%span.uk-text-primary.uk-text-large [[price]]
					%cs-shop-add-to-cart(item_id="[[item_id]]")
					%span.uk-text-large [[concat('(', in_stock, ' in stock)')]]
				%content(select="#description")
		%template(if="[[show_attributes]]")
			%h2.uk-margin-top [[L.shop_characteristics]]
			%content(select="#attributes")
	%script(src="script.js")
