include ../_settings_mixins
dom-module#cs-system-admin-languages
	template
		style(include="advanced-styles")
		form.cs-text-center(is="cs-form")
			label(tooltip="[[L.default_language_info]]")
				[[L.default_language]]
				cs-tooltip
			select(is="cs-select" selected="{{settings.language}}" size="5")
				template(is="dom-repeat" items="[[settings.active_languages]]")
					option [[item]]
			label(tooltip="[[L.active_languages_info]]")
				[[L.active_languages]]
				cs-tooltip
			select(is="cs-select" selected="{{settings.active_languages}}" size="5" multiple)
				template(is="dom-repeat" items="[[settings.languages]]")
					option [[item]]
			+on-off-switcher("multilingual")
			+footer-buttons
	script(src="script.js")
