%script(src="cs-behavior-common.js")
%script(src="cs-behavior-button.js")
%script(src="cs-behavior-label.js")
%script(src="cs-behavior-value.js")
%script(src="cs-behavior-tight.js")
%script(src="cs-behavior-size.js")
