dom-module#cs-system-admin-permissions-list
	template
		style(include="advanced-styles")
		h2.cs-text-center(hidden="[[or(permissions.length, permissions_loaded)]]")
			cs-icon(icon="spinner" spin)
		table.cs-table(center list hidden="[[!and(permissions.length, permissions_loaded)]]")
			tr
				th [[L.action]]
				th id
				th [[L.group]]
				th [[L.label]]
			template(is="dom-repeat" items="[[permissions]]" as="permission")
				tr
					td
						cs-button(compact icon="pencil-alt" tooltip="[[L.edit]]"): button(on-tap="edit_permission")
						= ' '
						cs-button(compact icon="trash-alt" tooltip="[[L.delete]]"): button(on-tap="delete_permission")
					td [[permission.id]]
					td [[permission.group]]
					td
						| [[permission.label]]
						= ' '
						sup [[permission.description]]
		p.cs-text-left
			cs-button: button(type="button" on-tap="add_permission") [[L.add_permission]]
	script(src="script.js")
