dom-module#cs-blogs-admin-sections-add-edit-form
	link(rel="import" href="style.css" type="css")
	template
		style(include="advanced-styles")
		table.cs-table
			tr
				td [[L.section_title]]
				td
					input(is="cs-input-text" type="text" value="{{section.title}}")
			tr
				td(tooltip="[[L.section_path_info]]")
					[[L.section_path]]
					cs-tooltip
				td
					input(is="cs-input-text" type="text" value="{{section.path}}")
			tr
				td [[L.parent_section]]
				td
					template(is="dom-if" if="[[sections]]")
						select(is="cs-select" selected="{{section.parent}}" size="7")
							option(value="0") [[L.root_section]]
							template(is="dom-repeat" items="[[sections]]")
								option(value="[[item.id]]" disabled="[[equal(item.id, section.id)]]") [[item.full_title]]
		button(is="cs-button" on-tap="_save" type="button" primary) [[L.save]]
	script(src="script.js")
